.performed_by {
    font-style: italic;
}
.performed_by .label {
}
.written_by {
    font-style: italic;
    
}
.written_by .label {
}

span.song {
    display:block;
}
.song .title {
    display: inline-block;
    white-space: normal;
}
.song .detail {
    color: gray;
}

#playlist-table .song .detail {
	display: none;
}

#playlist-table ul>li {
	display: table-cell;
}

.displayPlaylist {
	font-size: 0.8em;
}


.ui-sortable>li {
	cursor: move;
}



.spec {
	display: inline-block;	
	color: black;
	font-size: 1.2em;
}
.spec .key {
	color: #993333;
	text-align: left;
}
.spec .id {	
	color: gray;
	font-size: 0.7em;
	width: 2.5em;
}
.spec span {
	display: inline-block;	
	margin-right:1em;
}
.spec .singer {
	font-size: 0.8em;
	text-align: left;
}
input.duration {
	width: 3em;
	text-align: center;
	border: 0;
	background-color: #e3e3f3;
}

input.introduction_duration {
	width: 3.5em;
	text-align: center;
	border: 0;
	background-color: #f3f3e3;
}


/* context menu -------------------------- */
.context-menu {
	border: 1px solid gray;
	background-color:white;
	padding: 0.2em;
	box-shadow: 2px 2px 2px #333;
}
.context-menu li {
	padding:0.3em;
	list-style-type: none;
}
.context-menu li:hover {
	background-color:silver;
}

.context-menu li a {
	color: black;
	font-size: 0.8em;
	text-decoration: none;
}
/* end of context menu ------------------- */


li.dummy {
	border:0;
	background-color:transparent;
	cursor: pointer;
	padding:0;
	margin: 0;
	font-size:3px;
	line-height:3px;
}


/* available song picker */
#available-songs {
	padding: 1em;
	position: absolute;
	top: 2em;
	left:0;
	right: 0;
	bottom: 0;
}
#available-songs #add-new-set,
#available-songs #toggle-introductions,
#available-songs #savePlaylist,
#available-songs .playlist input {
	display: none;
}
#available-songs,
#playlist-holder {
	border-radius:1em;
	border:1px solid gray;
}
#all-song-list .pleasewait {
	font-size: 0.8em;
	color:silver;
}
#available-songs form {
	display:block;
}
#available-songs form .label {
}
#all-song-list,
#playlist-holder ul {
	overflow: auto;
 	margin: 1em;
	padding: 0.5em;
}
#available-songs ul,
form#allsongsearch {
	padding-left:0;
	margin: 0;
}
#available-songs ol {
	padding: 0;
}
#available-songs li {
	list-style-type: none;
}
#available-songs li input {
	display: none;
}
#available-songs li .id,
#available-songs li .spec,
#available-songs li .introduction {
	display: none;
}
#available-songs .numberofrecords {
	display: none;
}


/* Playlist list */
.all_playlists>li {
	list-style: none;
	margin: 2em;
	font-weight: bold;
}
.all_playlists li li {
	list-style: none;
	margin: 0.5em;
}
.all_playlists li li a {
	color: blue;
	text-decoration: none;
}
.all_playlists li li a:hover {
	color: red;
	text-decoration: none;
}
