body {
    font-family: trebuchet, verdana, sans-serif;
    font-size: 12px;
}
ul.menu {
    display: block;
	margin: 0;
}
ul.menu.main {
    background-color: #aabbcc;
}
ul.menu.local {
    background-color: #ffffff;
	border-bottom: 1px solid #aabbcc;
}
ul.menu li {
    display: inline-block;
}
ul.menu li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    height: 1.5em;
    line-height:1.5em;
    vertical-align:middle;
    margin:2px;
    text-align:center;
    font-size: 0.9em;
	padding-left:2em;
	padding-right:2em;
}
ul.menu.local li a {
    border:1px solid gray;
}
ul.menu li a:hover {
    background-color:#eef0ff;
}
ul.menu.main li a:hover {
    background-color:#eef0ff;
}
/* end of menu --------------------- */



.label, .data  {
    display: inline-block;
}
.label  {
	margin-right: 0.5em;
}

.performed_by {
    font-style: italic;
}
.performed_by .label {
    color:gray;
}
.written_by {
    font-style: italic;
    
}
.written_by .label {
    color:gray;
}

span.song {
    display:block;
}
.song .title {

}
.song .detail {
    color: gray;
}

#playlist-printable-holder .song .detail {
	display: none;
}

.line {
	margin-top: 1em;
}
.chord {
	display: inline-block;
	position:relative;
	bottom: 1.2em;
	width:1px;
	color: #660000;
	font-size: 0.8em;
	font-family: verdana;
}


.displayPlaylist {
	font-size: 0.8em;
}
.displayPlaylist h3 {
	font-size: 1.4em;
	margin: 0;
	color: gray;
	font-weight: normal;
}





textarea.playlist-title,
textarea.set-title {
	resize: none;
	height: 1.2em;
	border: 0px;
}

#playlist-holder .detail {
	display: none;
}
.playlist {
	font-size:0.8em;
}
.playlist .title {
	font-size: 1.5em;
}
.playlist-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}
.set-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #933;
	margin-top:1em;
}
li.set {
	list-style-type: none;
	cursor: move;
}
#playlist-holder .set {
	border: 1px solid silver;
}
.playlist li {
	margin: 1px;
	padding: 0.5em;
}
.displayPlaylist .playlist li {
	padding: 0.2em;
	list-style-type: none;
	cursor: move;
}
#available-songs .playlist li {
	margin: 0;
	padding: 0;
	border:0;
	background-color: white;
}
.playlist li.ui-sortable-helper {
	cursor: hand;
	background-color: #e9ec7b;
}
.playlist li li {
	background-color: #faffaa;
}

.playlist-page {
	page-break-after: always;
}
.playlist-page .title{
	font-weight: bold;
}
.playlist-page .spec {
	display:block;	
	color: black;
	font-size: 1.2em;
}
.playlist-page .spec .key {
	color: #993333;
}
.playlist-page .spec .id {	
	color: gray;
	font-size: 0.7em;
}
.playlist-page .spec span {
	display:inline-block;	
	margin-right:1em;
}
.playlist-page .playlist .detail {
	display:none;	
}


/* context menu -------------------------- */
.context-menu {
	border: 1px solid gray;
	background-color:white;
	padding: 0.2em;
	box-shadow: 2px 2px 2px #333;
}
.context-menu li {
	padding:0.3em;
	list-style-type: none;
}
.context-menu li:hover {
	background-color:silver;
}

.context-menu li a {
	color: black;
	font-size: 0.8em;
	text-decoration: none;
}
/* end of context menu ------------------- */


li.dummy {
	border:0;
	background-color:transparent;
	cursor: pointer;
	padding:0;
	margin: 0;
	font-size:3px;
	line-height:3px;
}

.key {
	width:2em;
	font-weight: bold;
	background-color: transparent;
	border:0;
}

.singer {
 	width:5em;
	background-color: transparent;
	border:0;
}

.key:focus, .singer:focus {
	border:1px solid silver;
	background-color: white;
}
#playlist-holder {
	margin-right: 2em;
	top:2em;
}

div.side_1,
div.side_2 {
	position: absolute;
	top:50px;
	bottom:0px;
}
div.side_1 {
	left: 0px;
	right:55%;
}
div.side_2 {
	right: 0px;
	left:55%;
}


#available-songs,
#playlist-holder {
	padding:1em;
	border-radius:1em;
	border:1px solid gray;
	height:400px;
}
#available-songs {
	position:absolute;
	top:4em;
	bottom:0;
	left:0;
	right:0;
}
#available-songs.main-list {
	top:7em;
}
#all-song-list .pleasewait {
	font-size: 0.8em;
	color:silver;
}
#available-songs form {
	display:block;
}
#available-songs form .label {
	color:gray;
}
#all-song-list,
#playlist-holder>ul {
	overflow: auto;
	position: absolute;
	top:4em;
	left:1em;
	bottom:0;
}
#available-songs ul,
form#allsongsearch {
	padding-left:0;
}

#available-songs li {
	list-style-type: none;
	cursor: pointer;
}
.displayPlaylist #available-songs li {
	cursor: move;
}
#available-songs li input {
	font-size: 1em;
}
#available-songs #allsongs li input {
	display: none;
}
#playlistForm {
	position:absolute;
	top:2.5em;
	right:3em;
	width:10em;
	height: 4em;
	z-index:10;
}
#playlistForm a#savePlaylist {
	display: block;
	background-color: transparent;
	color: silver;
	border-radius: 1em;
	font-size: 1.2em;
	text-decoration: none;
	padding:0.3em;
	padding-left:1.3em;
	padding-right:1.3em;
}
#playlistForm a#savePlaylist:hover {
	background-color: #008080;
	color: white;
}
#playlistForm .numberofrecords,
#available-songs .numberofrecords {
	display: none;
}



.song-index {
	page-break-after: always;
}
.song-index h1 {
	font-size: 1.4em;
	color:#dd9999;
	margin-bottom: 0.3em;
}
.song-index h2 {
	font-size: 1em;
	color:#9999dd;
	margin-bottom: 0.3em;
	font-weight: normal;
}
.song-index .indent {
	padding-left: 2em;
}
.song-index .song {
	cursor: pointer;
}
.song-index .song:hover {
	background-color: #008080;
	color: white;
}

.song-index .song .id {
	display: inline-block;
	width: 3em;
	text-align: right;
	padding-right: 0.5em;
	border-right: 1px solid silver;
	color: gray;
}

.song-index .song .title {
	display: inline-block;
	width: 30em;
	padding-left: 0.5em;
}


/* song display */


div.song-page {
	width: 720px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	padding-top:1em;
	/*border:1px solid red;*/
	page-break-after: always;
	
}
div.song-page table {
	width: 100%;
}

div.song-page td {
	vertical-align: top;
	width: 50%;
}
div.song-page td.detail {
	text-align: right;
}
div.song-page .line {
	margin-top: 0.2em;
	font-size:0.8em;
}
div.song-page .chord {
	display: inline-block;
	/*position:relative;*/
	padding-bottom: 1.3em;
	width: 1px;
	color: #660000;
	font-size: 0.8em;
	font-family: Helvetica;
}

div.song-page table.page_header {
	border-bottom: 1px solid silver;
	margin-bottom: 0.5em;
}
div.song-page .title {
    font-size: 1.2em;
	color:#004080;
}
div.song-page .performed_by,
div.song-page .written_by {
	display:none;
}
div.song-page .performed_by .label,
div.song-page .written_by .label {
    font-style: italic;
}
div.song-page .songnumber {
	color: #4080c0;
}
div.song-page .songnumber .data {
	font-weight:bold;
	font-size:0.8em;
}
div.song-page .songnumber .label {
	font-size:0.6em;
}

div.song-page .pagenumber {
	display: block;
	font-size: 0.6em;
}

div.song-page.first_page .title {
    font-size: 2em;
	color:#004080;
}
div.song-page.first_page .performed_by {
	display: inline-block;
	font-size:0.6em;
    color: gray;
}
div.song-page.first_page .written_by {
	display: inline-block;
	font-size:0.8em;
    color: gray;
}
div.song-page.first_page .performed_by .label,
div.song-page.first_page .written_by .label {
    font-style: italic;
}
div.song-page.first_page .songnumber .data {
	font-weight:bold;
	font-size:1.2em;
}
div.song-page.first_page .songnumber .label {
	font-size:0.8em;
}


/* end of song display */
