body {
    font-family: trebuchet, verdana, sans-serif;
    font-size: 12px;
}
ul.menu {
    display: block;
	margin: 0;
}
ul.menu.main {
    background-color: #aabbcc;
}
ul.menu.local {
    background-color: #ffffff;
	border-bottom: 1px solid #aabbcc;
}
ul.menu li {
    display: inline-block;
}
ul.menu li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    height: 1.5em;
    line-height:1.5em;
    vertical-align:middle;
    margin:2px;
    text-align:center;
    font-size: 0.9em;
	padding-left:2em;
	padding-right:2em;
}
ul.menu.local li a {
    border:1px solid gray;
}
ul.menu li a:hover {
    background-color:#eef0ff;
}
ul.menu.main li a:hover {
    background-color:#eef0ff;
}
/* end of menu --------------------- */



.label, .data  {
    display: inline-block;
}
.label  {
	margin-right: 0.5em;
    color:gray;
    font-style: italic;
	font-size: 0.9em;
}

.performed_by {
    font-style: italic;
}
.performed_by .label {
}
.written_by {
    font-style: italic;
    
}
.written_by .label {
}

span.song {
    display:block;
}
.song .title {

}
.song .detail {
    color: gray;
}

#playlist-table .song .detail {
	display: none;
}

#playlist-table ul>li {
	display: table-cell;
}

.line {
	margin-top: 1em;
}

.chord {
	display: inline-block;
	position:relative;
	bottom: 1.2em;
	width:1px;
	color: #660000;
	font-size: 0.8em;
	font-family: verdana;
}
.chord .bass_note_modifier {
	color: gray;
}
.chord .separator {
	margin-left: 0.2em;
}

.displayPlaylist {
	font-size: 0.8em;
}
.displayPlaylist h3 {
	font-size: 1.4em;
	margin: 0;
	color: gray;
	font-weight: normal;
}





input.playlist-title,
input.set-title,
input.act {
	border: 0px;
	position: absolute;
	left: 0;
	top: 0;
	width: 80%;
}
input.playlist-title {
	left: 1em;
	top: 0.5em;
	width: 40%;
}
input.act {
	left: 40%;
	top: 0.5em;
	width: 40%;
}
#playlist-holder .detail {
	display: none;
}
.playlist {
	font-size:0.8em;
}
.playlist .title {
	font-size: 1.5em;
	display: inline-block;
	overflow: hidden;
}
.playlist-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}
.set-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	color: #daa;
}
li.set {
	list-style-type: none;
	cursor: move;
	position: relative;
	padding-top: 2.5em;
}
li.set ul {
	padding: 0;
	padding-left: 1em;
}
li.set span.duration {
	position:absolute;
	right: 1.5em;
	top:0;
	font-size: 1.4em;
	color: gray;
	width: 3em;
	text-align:center;
}
#playlist-holder .set {
	border-top: 1px solid silver;
}
.playlist li {
	position: relative;
	margin: 1px;
	padding: 0.5em;
}
.displayPlaylist .playlist li {
	padding: 0.2em;
	list-style-type: none;
	cursor: move;
}
#available-songs .playlist li {
	margin: 0;
	padding: 0;
	border:0;
	background-color: white;
}
.playlist li.ui-sortable-helper {
	cursor: hand;
	background-color: #e9ec7b;
}
.playlist li li {
	background-color: #faffaa;
}

.playlist-page {
	page-break-after: always;
}
.playlist-page .title{
	font-weight: bold;
}
.spec {
	display:block;	
	color: black;
	font-size: 1.2em;
}
.spec .key {
	color: #993333;
	text-align: left;
}
.spec .id {	
	color: gray;
	font-size: 0.7em;
}
.spec span {
	display: inline-block;	
	margin-right:1em;
}
.spec .singer {
	font-size: 0.8em;
	text-align: left;
}
.playlist-page .playlist .detail {
	display:none;	
}
input.duration {
	width: 3em;
	text-align: center;
	border: 0;
	background-color: #e3e3f3;
	position: absolute;
	right: 1em;
}

input.introduction_duration {
	width: 3em;
	text-align: center;
	border: 0;
	background-color: #f3f3e3;
	position: absolute;
	right: 1em;
}


/* context menu -------------------------- */
.context-menu {
	border: 1px solid gray;
	background-color:white;
	padding: 0.2em;
	box-shadow: 2px 2px 2px #333;
}
.context-menu li {
	padding:0.3em;
	list-style-type: none;
}
.context-menu li:hover {
	background-color:silver;
}

.context-menu li a {
	color: black;
	font-size: 0.8em;
	text-decoration: none;
}
/* end of context menu ------------------- */


li.dummy {
	border:0;
	background-color:transparent;
	cursor: pointer;
	padding:0;
	margin: 0;
	font-size:3px;
	line-height:3px;
}

.key {
	width:2em;
	font-weight: bold;
	background-color: transparent;
	border:0;
	text-align: center;
}

.singer {
 	width:5em;
	background-color: transparent;
	border:0;
	text-align: right;
	color:gray;
	font-size:1.3em;
	margin-right:0.3em;
}

.key:focus, .singer:focus {
	border:1px solid silver;
	background-color: white;
}
#playlist-holder {
	margin-right: 2em;
	top:2em;
}

div.side_1,
div.side_2 {
	position: absolute;
	top:50px;
	bottom:0px;
}
div.side_1 {
	left: 0px;
	right:40%;
}
div.side_2 {
	right: 0px;
	left:60%;
}

.introduction {
	display: block;
	vertical-align: top;
	position: relative;
	left: 0;
	width: 100%;
	margin-top:1.8em;
}
.introduction .introduction_text {
	height: 1.5em;
	font-size: 1.3em;
	color: gray;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	position: relative;
	left: 6em;
	width: 70%;
}


#available-songs,
#playlist-holder {
	padding:1em;
	border-radius:1em;
	border:1px solid gray;
	position: absolute;
	top: 2em;
	bottom:0;
	left:0;
	right:0;
}
#available-songs {
	position:absolute;
	top:4em;
	bottom:0;
	left:0;
	right:0;
}
#available-songs.main-list {
	top:7em;
}
#all-song-list .pleasewait {
	font-size: 0.8em;
	color:silver;
}
#available-songs form {
	display:block;
}
#available-songs form .label {
}
#all-song-list,
#playlist-holder>ul {
	overflow: auto;
	position: absolute;
	top: 4em;
	left:1em;
	bottom:0;
	right: 0;
	padding: 0.5em;
}
#available-songs ul,
form#allsongsearch {
	padding-left:0;
	margin: 0;
}

#available-songs li {
	list-style-type: none;
	cursor: pointer;
}
.displayPlaylist #available-songs li {
	cursor: move;
}
#available-songs li input {
	font-size: 1em;
}
#available-songs #allsongs li input {
	display: none;
}
#available-songs li .spec,
#available-songs li .introduction {
	display: none;
}
a#savePlaylist,
a#toggle-introductions {
	position:absolute;
	top:2em;
	z-index:10;
	display: block;
	background-color: transparent;
	color: silver;
	border-radius: 1em;
	font-size: 1.2em;
	text-decoration: none;
	padding:0.3em;
	padding-left:1.3em;
	padding-right:1.3em;
}
a#savePlaylist {
	right:3em;
}
a#toggle-introductions {
	right:10em;
}
a#savePlaylist:hover,
a#toggle-introductions:hover {
	background-color: #008080;
	color: white;
}

#available-songs .numberofrecords {
	display: none;
}

.song-index {
	page-break-after: always;
}
.song-index h1 {
	font-size: 1.4em;
	color:#dd9999;
	margin-bottom: 0.3em;
}
.song-index h2 {
	font-size: 1em;
	color:#9999dd;
	margin-bottom: 0.3em;
	font-weight: normal;
}
.song-index .indent {
	padding-left: 2em;
}
.song-index .song {
	cursor: pointer;
}
.song-index .song:hover {
	background-color: #008080;
	color: white;
}

.song-index .song .id {
	display: inline-block;
	width: 3em;
	text-align: right;
	padding-right: 0.5em;
	border-right: 1px solid silver;
	color: gray;
}

.song-index .song .title {
	display: inline-block;
	width: 30em;
	padding-left: 0.5em;
}


/* song display */


div.song-page {
	width: 720px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	padding-top:1em;
	/*border:1px solid red;*/
	page-break-after: always;
	
}
div.song-page table {
	width: 100%;
}

div.song-page td {
	vertical-align: top;
	width: 50%;
}
div.song-page td.detail {
	text-align: right;
}
div.song-page .line {
	margin-top: 0.2em;
	font-size:0.8em;
	white-space: pre;
}
div.song-page .line .text {
	white-space: normal;
} 
div.song-page .chord {
	display: inline-block;
	/*position:relative;*/
	padding-bottom: 1.3em;
	width: 1px;
	color: #660000;
	font-size: 0.9em;
	font-family: Helvetica;
	font-weight: bold;
}

div.song-page .page_header {
	width: 100%;
	position: relative;
	border-bottom: 1px solid silver;
	margin-bottom: 1em;
	font-size: 1.2em;
}
div.song-page .title {
    font-size: 1.2em;
	color:#004080;
}
div.song-page .performed_by,
div.song-page .written_by {
	display:none;
}
div.song-page .performed_by .label,
div.song-page .written_by .label {
}
div.song-page .songnumber {
	color: #4080c0;
	position: absolute;
	right: 0;
	top: 0.3em;
}
div.song-page .songnumber .data {
	font-weight:bold;
	font-size:0.8em;
}
div.song-page .songnumber .label {
	font-size:0.6em;
}

div.song-page .pagenumber {
	display: block;
	font-size: 0.6em;
	position: absolute;
	right: 0;
	top: 2.5em;
}

div.song-page.first_page .title {
    font-size: 2em;
	color:#004080;
	overflow: hidden;
	white-space: nowrap;
	width: 600px;
}
div.song-page.first_page .performed_by {
	display: block;
	font-size:0.6em;
    color: gray;
	position: absolute;
	right: 0;
	top: 4em;
}
div.song-page.first_page .written_by {
	display: block;
	font-size:0.8em;
    color: gray;
}
div.song-page.first_page .performed_by .label,
div.song-page.first_page .written_by .label {
}
div.song-page.first_page .songnumber .data {
	font-weight:bold;
	font-size:1.2em;
}
div.song-page.first_page .songnumber .label {
	font-size:0.8em;
}

div.song-page .page_header .key {
	font-size: 0.8em;
	display: none;
	position: absolute;
	right: 7em;
	top: 0;
	border:1px solid red;
}
div.song-page .page_header .key .target_key {
}
div.song-page .page_header .key .target_key .label{
}
div.song-page .page_header .key .target_key .data {
}
div.song-page .page_header .key .capo {
}
div.song-page .page_header .key .capo .label {
}
div.song-page .page_header .key .capo .data {
}
div.song-page .page_header .key .singer {
}
div.song-page .page_header .key .singer .label {
}
div.song-page .page_header .key .singer .data {
}

/* end of song display */

 
/* edit song */
form#edit-song-form {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1ps solid red;
	
}
form#edit-song-form .song_id {
	margin-top: 4em;
}
form#edit-song-form textarea#title,
form#edit-song-form textarea#performed_by,
form#edit-song-form textarea#written_by,
form#edit-song-form textarea#base_key,
form#edit-song-form textarea#meta_tags,
form#edit-song-form textarea#original_filename {
	width: 35em;
	height: 3em; 	
}
form#edit-song-form div.content {
	position: absolute;
	top: 2em;
	right:0;
	left: 40em;
	bottom: 0;
}
form#edit-song-form div.content textarea {
	position: absolute;
	height: 100%;
	width: 100%;
}

 
 
/* edit chords */
.edit {
	position: absolute;
	display: block;
	top: 5em;
	bottom:0;
	left: 1em;;
	right: 0;
}
.edit #title {
	font-weight: bold;
}
.edit .song_id .label  {
	display: inline-block;
}

.edit .label {
	display: block;
}

.edit a#remove_linebreaks,
.edit a#add_chords {
	position: absolute;
	top: 0em;
	display: block;
	opacity:0.4;
	text-decoration: none;
	color: gray;
	z-index: 2;
	padding: 0.3em;
	border-radius: 0.3em;
	border: 1px solid white;
	text-align: center;
}

.edit a#remove_linebreaks {
	right: 2em;
}

.edit a#add_chords {
	right: 18em;
}

.edit a#add_chords.chord_mode {
	opacity: 1;
	background-color: #990000;
	color: white;
	font-weight: bold;
}
.edit a#add_chords {
	width:10em;
}
.edit a#add_chords.chord_mode:hover {
	color: white;
	text-decoration: none;
	background-color: #000099;
}
.edit a#remove_linebreaks:hover,
.edit a#add_chords:hover {
	opacity: 1;
	color: gray;
	border: 1px solid gray;
}