.menu {
    display: block;
	margin: 0;
}
.menu.main {
    background-color: #aabbcc;
	display: inline-block;
}
.menu.local {
    background-color: #ffffff;
	border-bottom: 1px solid #aabbcc;
	display: inline-block;
	width: 100px;
}
ul.menu li {
    /*display: inline-block;*/
}
.menu .buttons {
    display: inline-block;
}
.menu a {
    color: black;
    text-decoration: none;
    display: inline-block;
    height: 1.5em;
    line-height:1.5em;
    vertical-align:middle;
    margin:2px;
    text-align:center;
    font-size: 0.9em;
	padding-left:1em;
	padding-right:1em;
}
.menu.local a {
    border:1px solid gray;
}
.menu a:hover {
    background-color:#eef0ff;
}
.menu.main a:hover {
    background-color:#eef0ff;
}