<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /songbook-cake
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
AddType text/cache-manifest .manifest
