.float-right {
	float: right;
}
.songs.index table tr td {
    font-size: 0.8em;
    overflow: hidden;
    white-space: nowrap;
}
.songs.index table tr .id {
}
.songs.index table tr .title {
}
.songs.index table tr .written-by,
.songs.index table tr .performed-by {
    font-size: 0.5em;
    width: 10%;
}
.songs.index table tr .actions {
    width: 20%;
}
.songs.index table tr .actions a {
    display: inline-block;
    padding: 0.5em;
    border:1px solid gray;
}
.songs.index td:first-child,
.songs.index th:first-child  {
    width:  4em;
}

.playlists .sets,
.playlists .sets .set-songs {
    margin-left: 5%;
    width:90%;
    table-layout: auto;
}
.playlists .sets .set-songs {
    background-color: #f9f9e0;
}
.playlists .set-songs th {
	color: gray;
	border-bottom: 2px solid gray;
}
.playlists .set-song-sort-order {
	width: 3em;
}
.playlists .set-song-title {
}