body,
#container {
    font-family: sans-serif;
    /*font-size: 12px;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#container>section.container {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}

.button {
    display: inline-block;
    white-space: nowrap;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid gray;
    cursor: pointer;
    background-color: #f3f3f3;
    color: gray;
    font-size: 0.8em;
    text-align: center;
    line-height: 2em;
}
.button:hover {
    color: white;
}
.button.pressed {
    background-color: green;
    color: white;
    border-color: white;
}
.button.disabled {
    background-color: transparent;
    color: white;
    border-color: white;
}
.button a {
    color: inherit;
    text-decoration: none;
}

.float-right {
	float: right;
}


.playlists .sets,
.playlists .sets .set-songs {
    /*margin-left: 5%;
    width:95%;*/
    right: 0;
    table-layout: auto;
}
.playlists .set-songs th {
	color: gray;
	border-bottom: 2px solid gray;
}
.playlists .set-song-sort-order {
	width: 3em;
}
.playlists .set-song-title {
}



/* playlist edit form with sets and songs */

.playlists.form fieldset,
.playlists.form .playlist-title,
.playlists.form .playlist-edit-submit,
.playlists.form .playlist-performer-id,
.playlists.form .playlist-song-id,
.playlists.form .playlist-new-song-title,
.playlists.form .playlist-new-song-performed-by,
.playlists.form .playlist-performer-id,
.playlists.form .playlist-key,
.playlists.form .playlist-capo,
.playlists.form .playlist-song-order,
.playlists.form .set-add-song-label,
span.inlinetop {
    display: inline-block;
    vertical-align: top;
}
.playlists.form fieldset  {
    vertical-align: top;
    margin-top: 1.8em;
    font-size:  0.84em;
}
.playlists.form .playlist-title,
.playlists.form .playlist-song-id,
.playlists.form .playlist-new-song-title,
.playlists.form .playlist-new-song-performed-by  {
    width: 20em;
}
.playlists.form .playlist-performer-id  {
    width: 10em;
}
.playlists.form .playlist-title label,
.playlists.form .playlist-performer-id label {
    display:none;
}
.playlists.form .playlist-performer-id .select2-container {
    width: 100%;
}
.playlists.form .related {
	border-top: 2px solid gray;
}
.playlists.form .set-song-key span {
   display: inline-block;
   line-height: 2em;
   vertical-align: middle;
}
.playlists.form .set-song-capo .input  {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.playlists.form input,
.search-form input  {
    padding: 0.3em;
    height: 2em;
}
.playlists.form .set-song-capo input  {
    text-align: center;
}
.playlists.form .set-song-capo .capo input  {
    border: 0;
    padding-left: 0;
    padding-right: 0;
}
.playlists.form .set-song-key .key .input  {
    width: 2.5em;
}
.playlists.form .set-song-capo .capo .input  {
    width: 1em;
}
.playlists.form .song-order  {
    width: 3.5em;
}
.playlists.form .set-songs {
    padding-right: 0;
    margin-bottom: 0;
   /* width: 120%;*/
}

.playlists.form .set-songs fieldset {
    width: auto;
    margin-top: 0;
    padding-top: 0;
}
.playlists.form .setSongs legend {
    width: auto;
}
.playlists.form .add-song legend,
.playlists.form .add-song fieldset,
.playlists.form .add-song form,
.playlists.form .add-song .playlist-edit-set-song-add-submit {
    display: inline-block;
    vertical-align: top;
}
.playlists.form .add-new-song legend,
.playlists.form .add-new-song fieldset,
.playlists.form .add-new-song form,
.playlists.form .add-new-song .playlist-edit-set-song-add-submit {
    display: inline-block;
    vertical-align: top;
}
.playlists.form .add-song form {
    width: 100%;
}
.playlists.form .button,
.set-songs .button,
tr. .button {
    margin: 0;
    margin-bottom: -2px;
    height: 2.5em;
}
.playlists.form form,
.playlists.form fieldset {
    padding: 0;
    margin: 0;
}

.playlists.form .set-songs input {
	margin: 0;
}
.playlists.form .playlist-new-set-comment textarea {
	height: 20px;
	width: 400px;
}
.set-songs-container {
	padding-left: 3em;
}
.set-songs table {
    margin-bottom: 0;
}

.set-songs td.set-song-details {
    width: 7em;
}
/* cake submit button inside button span */
.button button,
.button a {
	display: block;
	margin: 0;
	padding: 0;
	border:0;
	background-color: transparent;
	color: inherit;
/*	font-size: inherit;*/
	text-transform: none;
	vertical-align: top;
	line-height: normal; /* to match button */
	float: right; /* to match button */
}
.button button:hover {
    background-color: transparent;
}
table.sortable .handle {
	width: 1.5em;
	background-image: url('/songbook/img/grip-icon.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	
}

/* Song lists */

table tr.song-row {
    background-color: #f9f9e0;
}
table tr.song-row.played {
    background-color: #f0f0ff;
}
tr.song-row td {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}
tr.song-row td.song-id {
    display: none;
}
tr.song-row.ui-selected {
    background-color: #ffaa66;
}
tr.song-row.ui-selected td.actions {
   font-size: 1.5em;
}
tr.song-row.ui-selected td.actions {
   font-size: 2em;
}
tr.song-row td.actions {
    width: 10em;
}
tr.song-row td.performers,
.performers:not(.index) {
    width: 4.5em;
    padding-right: 0;
}
.performer,
.performers.index  {
    display: block;
}
.songs.view .performers,
.songs.view .performer  {
    display: inline-block;
}
tr.song-row td.performers .performer  {
    display: block;
}
tr.song-row td.performers .nickname,
.nickname {
	display: inline-block;
	font-size: 0.5em;
	color: gray;
    width: 4em;
    padding-right: 0;
}
tr.song-row td.performers .key-capo-selectors,
.key {
    width: 4em;
    padding-right: 0;
}
tr.song-row td.performers .capo,
.capo {
    color: gray;
    font-size: 0.8em;
    margin-left: 0.8em;
    display: none;
}
.key-capo-selectors .capo {
    display: inline-block;
    font-size: 1em;
}
tr.song-row .actions {
    display: none;
}
tr.song-row .key-form,
tr.song-row .tag-form {
	display: inline-block;
    Border: 1px solid gray;
    vertical-align: middle;
}
tr.song-row.ui-selected .actions {
    display: inline-block;
    vertical-align: middle
}
tr.song-row .actions {
    text-align: right;
}
tr.song-row .actions .button {
    text-align: center;
    vertical-align: middle;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
   /* font-size: 1.8em;*/
}
tr.song-row .actions .arrow {
    width: 2.5em;
}
tr.song-row td.song-written-by-performed-by {
	width: 15%;
}
tr.song-row .performed-by,
tr.song-row .written-by {
    margin-left: 0.8em;
    font-size: 0.8em;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
tr.song-row .song-title {
    display: inline-block;
}
tr.song-row.ui-selected .song-title {
    font-size: 2em;
    padding: 6px;
    color: white;
}

.ajax-button-form form {
    display: inline-block;
}

/* Embedded song search form */
.search-form {
	display: block;
}
.search-form fieldset {
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.search-form input {
	margin: 0.49em;
	height: 2.2em;
}

/* songs edit */
.songs-edit label,
.songs-add label {

    margin-right: 5px;
	color: gray;
}

.songs-edit .song-input-title,
.songs-add .song-input-title {
    display: block;
}
.songs-edit .song-input-written_by,
.songs-add .song-input-written_by {
    display: inline-block;
    min-width: 15em;
    width: 25%;
    margin-top: 5px;
}
.songs-edit .song-input-performed_by,
.songs-add .song-input-performed_by {
    display: inline-block;
    min-width: 15em;
    width: 25%;
    
}
.songs-edit .song-input-base_key,
.songs-add .song-input-base_key {
    display: inline-block;
    min-width: 15em;
    width: 25%;
    
}
.songs-edit .song-input-content,
.songs-edit .song-input-content div.textarea,
.songs-add .song-input-content,
.songs-add .song-input-content div.textarea  {
    display: block;
    height: 30em;
    margin-top: 5px;
    
}
.songs-edit .song-input-content textarea,
.songs-add .song-input-content textarea {
	height: 100%;
	width: 100%;
}
.songs-edit .song-input-tags,
.songs-add .song-input-tags  {
    display: inline-block;
    height: 5em;
}
.songs-edit .song-input-tags textarea,
.songs-add .song-input-tags textarea  {
	height: 2em;
}



.songs-add #title-error {
	display: inline-block;
	color: grey;
	font-style: italic;
	font-size: 0.8em;
}



/* key & tag input forms on songs lists and song views*/

.song-row .key-form form,
.song-row .key-form fieldset,
.song-row .tag-form form,
.song-row .tag-form fieldset {
    display: inline-block;
    vertical-align: top;
    font-size:  0.84em;
    width: auto;
    margin: 0;
    padding: 0;
}

.tag-form form {
    background-color: white;
}
.tag-form form.ajax-in-progress {
    background-color: #dcdcdc;
}
.tag-form form.ajax-success {
    background-color: #dcfadc;
}
.tag-form form.ajax-error {
    background-color: #fadcdc;
}

.song-row .key-form .input,
.song-row .tag-form .input  {
    display: inline-block;
}

.song-row .tag-form .input span.select2 {
    width: 100% !important; /* temporary hack - select2 sets element width. It would be better to figure how to override this in the select2 library */
}
.song-row .key-form input  {
    display: inline-block;
    border: 0;
    padding-left: 0;
    padding-right: 0;
}
.song-row .key-form input#key  {
    width: 2.5em;
}
.song-row .key-form input#capo  {
    text-align: center;
    width: 1em;
}
.song-row .key-form label[for="key"],
.song-row .key-form label[for="performer-id"] {
    display: none;
}
.song-row .key-form fieldset label,
.song-row .tag-form fieldset label {
	display:block;
	text-align: left;
}

.dashboard .tags .tag {
    display: inline-block;
    padding:1px;
    background-color: #f0f0f0;
    margin-right: 1px;
    border: 1px solid silver;
    font-size: 10px;
    color: gray;
    border-radius: 5px;
    vertical-align: middle;
}

#actions-sidebar span.select2 {
	}

.select2-results li {
    /*font-size: 0.7em;*/
}

/* dashboard multi-select */
tr.song-row td.multi-select {
    width: 20px;
    padding: 0;
}
tr.song-row td.multi-select input {
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-left: 5px;
}
#tag_multieditor {
    background-color: #eeffee;
    z-index: 100;
}
#tag_multieditor .tag-form {

}
#tag_multieditor .tag-form fieldset {
    padding: 0;
    margin: 0;
    width: calc(100% - 85px);
    display: inline-block;
}
#tag_multieditor .tag-form fieldset,
#tag_multieditor .tag-form .tag-add-submit  {
    vertical-align: middle;
}
#tag_multieditor .tag-form fieldset #tag-id,
#tag_multieditor .tag-form fieldset span.select2 {
    width:100% !important;  /* temporary hack - select2 sets element width. It would be better to figure how to override this in the select2 library */
}

.print_title {
    display: none;
}
 /*@media print {
    nav,
    .top-button-set,
    .ajax-button-form,
    .button, 
    .songs.view .performers  form {
        display:none;
    }
    div#container,
    .container.clearfix,
    .dashboard.index {
        display: inline !important;
    }
    .print_title {
        display: block;
        border-bottom: 1 px solid gray;
    }
    table {
        display: inline;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: transparent;
        border: none;
    }
}
*/
.text-search {
    display: block;
    position: relative;
    left: 0;
    right: 0;
}
.text-search .input.text {
    width: 60%;
    display: inline-block;
    position: relative;
}
.text-search .button {
    vertical-align: bottom;
    margin-bottom: 1.5em;
}

.filter-columns tr.hide-row {
    display: none;
}


.set-song-edit {
    display: inline-block;
    border: 1px solid gray;
}
.set-song-edit span {
    font-size: 1em;
}

/* overwrite milligram ----------------------------------- */
::after, ::before  {
	box-sizing: unset;

}
.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
	background-color: #f3f3f3;
	color: black;
	cursor: pointer;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: normal;
	line-height: auto;
	text-align: center;
	text-transform: none;
	white-space: nowrap;
	border-radius: unset;
	height: auto;
}

.button { 
	height: fit-content;
	font-weight: 400;
}
.button:focus, .button:hover, button:focus, button:hover, input[type="button"]:focus, input[type="button"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="submit"]:focus, input[type="submit"]:hover {
	background-color: #e3e3e3;
	border-color: inherit;
	color: black;
	outline: 0;
}
#select2-filter-tag-id-results  li,
#select2-exclude-tag-id-results li {
	margin-bottom: 0;
}
/* ----------------------------------------------------- */

/* from cakePHP3 base.css */
.large-10 {
	width: 83.33333%;
}
.large-9 {
	width: 75%;
}
.column, .columns {
	position: relative;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	float: left;
}



