.float-right {
	float: right;
}


.playlists .sets,
.playlists .sets .set-songs {
    /*margin-left: 5%;
    width:95%;*/
    right: 0;
    table-layout: auto;
}
.playlists .set-songs th {
	color: gray;
	border-bottom: 2px solid gray;
}
.playlists .set-song-sort-order {
	width: 3em;
}
.playlists .set-song-title {
}



/* playlist edit form with sets and songs */

.playlists.form fieldset,
.playlists.form .playlist-title,
.playlists.form .playlist-edit-submit,
.playlists.form .playlist-performer-id,
.playlists.form .playlist-song-id,
.playlists.form .playlist-new-song-title,
.playlists.form .playlist-new-song-performed-by,
.playlists.form .playlist-performer-id,
.playlists.form .playlist-key,
.playlists.form .playlist-capo,
.playlists.form .playlist-song-order,
.playlists.form .set-add-song-label,
span.inlinetop {
    display: inline-block;
    vertical-align: top;
}
.playlists.form fieldset  {
    vertical-align: top;
    margin-top: 1.8em;
    font-size:  0.84em;
}
.playlists.form .playlist-title,
.playlists.form .playlist-song-id,
.playlists.form .playlist-new-song-title,
.playlists.form .playlist-new-song-performed-by  {
    width: 20em;
}
.playlists.form .playlist-performer-id  {
    width: 10em;
}
.playlists.form .playlist-title label,
.playlists.form .playlist-performer-id label {
    display:none;
}
.playlists.form .playlist-performer-id .select2-container {
    width: 100%;
}
.playlists.form .related {
	border-top: 2px solid gray;
}
.playlists.form .set-song-key span {
   display: inline-block;
   line-height: 2em;
   vertical-align: middle;
}
.playlists.form .set-song-capo .input  {
    display: inline-block;
    vertical-align: middle;
    text-aling: center;
}
.playlists.form input,
.search-form input  {
    padding: 0.3em;
    height: 2em;
}
.playlists.form .set-song-capo input  {
    text-align: center;
}
.playlists.form .set-song-capo .capo input  {
    border: 0;
    padding-left: 0;
    padding-right: 0;
}
.playlists.form .set-song-key .key .input  {
    width: 2.5em;
}
.playlists.form .set-song-capo .capo .input  {
    width: 1em;
}
.playlists.form .song-order  {
    width: 3.5em;
}
.playlists.form .set-songs {
    padding-right: 0;
    margin-bottom: 0;
   /* width: 120%;*/
}

.playlists.form .set-songs fieldset {
    width: auto;
    margin-top: 0;
    padding-top: 0;
}
.playlists.form .setSongs legend {
    width: auto;
}
.playlists.form .add-song legend,
.playlists.form .add-song fieldset,
.playlists.form .add-song form,
.playlists.form .add-song .playlist-edit-set-song-add-submit {
    display: inline-block;
    vertical-align: top;
}
.playlists.form .add-new-song legend,
.playlists.form .add-new-song fieldset,
.playlists.form .add-new-song form,
.playlists.form .add-new-song .playlist-edit-set-song-add-submit {
    display: inline-block;
    vertical-align: top;
}
.playlists.form .add-song form {
    width: 100%;
}
.playlists.form .button,
.set-songs .button,
tr.song-row .button {
    margin: 0;
    margin-bottom: -2px;
    height: 2.5em;
}
.playlists.form form,
.playlists.form fieldset {
    padding: 0;
    margin: 0;
}

.playlists.form .set-songs input {
	margin: 0;
}
.playlists.form .playlist-new-set-comment textarea {
	height: 20px;
	width: 400px;
}
.set-songs-container {
	padding-left: 3em;
}
.set-songs table {
    margin-bottom: 0;
}

.set-songs td.set-song-details {
    width: 7em;
}
/* cake submit button inside button span */
.button button,
.button a {
	display: block;
	margin: 0;
	padding: 0;
	border:0;
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	text-transform: none;
	vertical-align: top;
	line-height: normal; /* to match button */
	float: right; /* to match button */
}
.button button:hover {
    background-color: transparent;
}
table.sortable .handle {
	width: 1.5em;
	background-image: url('/songbook/img/grip-icon.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	
}

/* Song lists */

table tr.song-row {
    background-color: #f9f9e0;
}
tr.song-row td {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}
tr.song-row td.song-id {
    display: none;
}
tr.song-row.ui-selected {
    background-color: #ffaa66;
}
tr.song-row.ui-selected td.actions {
   font-size: 1.5em;
}
tr.song-row.ui-selected td.actions {
   font-size: 2em;
}
tr.song-row td.actions {
    width: 10em;
}
tr.song-row td.performers,
.performers:not(.index) {
    width: 4.5em;
    padding-right: 0;
}
.performer,
.performers.index  {
    display: block;
}
.songs.view .performers,
.songs.view .performer  {
    display: inline-block;
}
tr.song-row td.performers .performer  {
    display: block;
}
tr.song-row td.performers .nickname,
.nickname {
	display: inline-block;
	font-size: 0.5em;
	color: gray;
    width: 4em;
    padding-right: 0;
}
tr.song-row td.performers .key-capo-selectors,
.key {
    width: 4em;
    padding-right: 0;
}
tr.song-row td.performers .capo,
.capo {
    color: gray;
    font-size: 0.8em;
    margin-left: 0.8em;
    display: none;
}
.key-capo-selectors .capo {
    display: inline-block;
    font-size: 1em;
}
tr.song-row .actions {
    display: none;
}
tr.song-row .key-form,
tr.song-row .tag-form {
	display: inline-block;
    Border: 1px solid gray;
    vertical-align: middle;
}
tr.song-row.ui-selected .actions {
    display: inline-block;
    vertical-align: middle
}
tr.song-row .actions {
    text-align: right;
}
tr.song-row .actions .button {
    text-align: center;
    vertical-align: middle;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-size: 1.8em;
}
tr.song-row .actions .arrow {
    width: 2.5em;
}
tr.song-row td.song-written-by-performed-by {
	width: 15%;
}
tr.song-row .performed-by,
tr.song-row .written-by {
    margin-left: 0.8em;
    font-size: 0.8em;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
tr.song-row .song-title {
    display: inline-block;
}
tr.song-row.ui-selected .song-title {
    font-size: 2em;
    padding: 6px;
    color: white;
}

/* Embedded song search form */
.search-form {
	display: block;
}
.search-form fieldset {
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.search-form input {
	margin: 0.49em;
	height: 2.2em;
}

/* songs edit */
.songs-edit .song-input-title {
    display: block;
}
.songs-edit .song-input-written_by {
    display: inline-block;
    min-width: 15em;
    width: 25%;
    
}
.songs-edit .song-input-performed_by {
    display: inline-block;
    min-width: 15em;
    width: 25%;
    
}
.songs-edit .song-input-base_key {
    display: inline-block;
    min-width: 15em;
    width: 25%;
    
}
.songs-edit .song-input-content,
.songs-edit .song-input-content div.textarea {
    display: block;
    height: 30em;
    
}
.songs-edit .song-input-content textarea {
	height: 100%;
}
.songs-edit .song-input-tags {
    display: inline-block;
    height: 5em;
    
}
.songs-edit .song-input-tags textarea {
	height: 2em;
}

/* song lyrics */

#container .container .songs.view .lyrics-panel {
	  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-width: auto;
     -moz-column-width: auto;
          column-width: auto;
   /*-moz-column-fill: auto;
    /*-moz-column-gap: 20px;*/
    -moz-column-rule: 0.1em solid silver;
   width: 100%;
   height: auto;
}
#container .container .songs.view tr.tags fieldset {
    margin: 0;
    padding: 0;
}
#container .container .songs.view tr.tags th {
    font-size: 10px;
    white-space: nowrap;
}
#container .container .songs.view tr.tags th form {
    display: inline-block;
}
#container .container .songs.view tr.tags th span.button {
    margin: 0;
    font-size: 0.9em;
}
#container .container .songs.view tr.tags fieldset .selection li {
    font-size: 0.7em;
}
#container .container .songs.view tr.tags fieldset .selection span.select2-selection.select2-selection--multiple {
    min-height: auto;
    height: 2.5em;
    border: 0;
}


.base-key .key-capo-selectors {
    display: inline-block;
    margin-left: 5em;
    width: 20em;
}

#container .container .songs.view .base-key .key-capo-selectors .data {
    width: 4em;
}
#container .container .songs.view .base-key .performers .data {
    width: 9em;
}


/* Song View performer select - as horizontal list */
.songs.view .performers {
	width: auto;
}
.songs.view .performers .performer {
    font-size: 1em;
    border: 1px solid silver;
    white-space: nowrap;
    padding-top: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-bottom: 0.2em;
    cursor: pointer;
}
.songs.view .performers .nickname {
    font-size: 1em;
    width: auto;
}
.songs.view .performers .key {
    display: inline-block;
    width: auto;
}
.songs.view .performers .capo {
    display: inline-block;
}

.songs.view .performers form ,
.songs.view .performers fieldset {
    display: inline-block;
    vertical-align: top;
    font-size:  0.84em;
    width: auto;
    margin: 0;
    padding: 0;
}

.songs.view .performers .input  {
	display: inline-block;
}
.songs.view .performers input  {
	display: inline-block;
    border: 0;
    padding-left: 0;
    padding-right: 0;
}
.songs.view .performers input#key  {
    width: 2.5em;
}
.songs.view .performers input#capo  {
    text-align: center;
    width: 1em;
}
.songs.view .performers label[for="performer-id"] {
	display: none;
}


/* key input form on songs lists */

.song-row .key-form form,
.song-row .key-form fieldset,
.song-row .tag-form form,
.song-row .tag-form fieldset {
    display: inline-block;
    vertical-align: top;
    font-size:  0.84em;
    width: auto;
    margin: 0;
    padding: 0;
}

.song-row .key-form .input,
.song-row .tag-form .input  {
    display: inline-block;
}
.song-row .key-form input  {
    display: inline-block;
    border: 0;
    padding-left: 0;
    padding-right: 0;
}
.song-row .key-form input#key  {
    width: 2.5em;
}
.song-row .key-form input#capo  {
    text-align: center;
    width: 1em;
}
.song-row .key-form label[for="key"],
.song-row .key-form label[for="performer-id"] {
    display: none;
}
.song-row .key-form fieldset label,
.song-row .tag-form fieldset label {
	display:block;
	text-align: left;
}

.dashboard .tags {
}
.dashboard .tags .tag {
    display: inline-block;
    padding:1px;
    background-color: #f0f0f0;
    margin-right: 1px;
    border: 1px solid silver;
    font-size: 10px;
    color: gray;
    border-radius: 5px;
}
.select2-dropdown li,
div.input.select .select2 {
	font-size: 0.7em;
}