body,
#container {
    font-family: sans-serif;
    /*font-size: 12px;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
select {
	margin-bottom: 0; /* override CakePHP3 base.css */
}

a {
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}

.label, .data  {
    display: inline-block;
}
.label  {
	margin-right: 0.5em;
    color: white;
    text-align: left;
    font-style: italic;
	font-size: 0.9em;
}


.pleasewait {
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 3em;
	font-weight: bold;
	background-image:url('../img/loader.gif');
	width: 64px;
	height: 64px;
    margin-left: -32px;
    margin-top: -32px;
    background-repeat: no-repeat;
    border: 2px solid red;
}




::-webkit-input-placeholder{
	font-weight: normal;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 3px;
	margin-right: 3px;
}
input:-moz-placeholder {
	font-weight: normal;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 3px;
	margin-right: 3px;
}

.button {
	display: inline-block;
    white-space: nowrap;
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid gray;
	cursor: pointer;
	background-color: #f3f3f3;
    color: gray;
    font-size: 0.8em;
    text-align: center;
    line-height: 2em;
}
.button.pressed {
    background-color: green;
    color: white;
    border-color: white;
}
.button.disabled {
	background-color: transparent;
	color: white;
	border-color: white;
}
.button a {
	color: gray;
	text-decoration: none;
}

.button-bar {
	display: inline-block;
    line-height: 2em;
    white-space: nowrap;
    vertical-align: middle;
    z-index: 10;
    overflow-x: auto;
    max-width: 90%;
}
.button-bar.flyout {
    display: inline-block;
    background-image: url('../img/flyout-o.svg');
    background-size: 3em;
    background-repeat: no-repeat; 
    background-position: 0.31em 0.5em ;
}
.button-bar.flyout.closed {
    background-image: url('../img/flyout-c.svg');
    background-repeat: no-repeat;
    height: 3.75em;
    width: 3.75em;
    overflow: hidden;
}
.button-bar.flyout .button {
	margin-bottom: 4px;
	margin-top: 12px;
}
.button-bar.flyout :first-child {
	margin-left: 5em;
}


/* from http://www.lotusseedsdesign.com/blog/make-checkbox-or-radio-button-in-mobile-browsers-render-consistently-using-before-pseudo-element */
/*input[type="checkbox"] {width: 1.5em;height: 1.5em}

input[type=checkbox]:after{
content:"";
display:inline-block;
width: 1.5em; height: 1.5em;
background-color:#F6FFCF;
border:1px solid #ccc;
margin-right:10px;
top:12px;
left:0;
position:absolute;}

input[type=checkbox]:checked:after {
content:"✓";
background-color:#fff;
border:1px solid #ccc;
color:#8EB120;font-size: 1.5em;
position:absolute;
top: 1em;left:0;}*/


/*.picker-filter {
    position: relative;
    width: 100%;
}*/
#all-songs-list .picker-filter {
    height: 5em;
}
#playlist-edit .picker-filter {
    height: 4em;
    display: inline-block;
}
.picker-filter .picker-filter-border {
/*    position: absolute;
    left: 0;
    bottom: 1.5em;
    right: 0;*/
    height: 2.5em;
    background-color: white;
    border: 1px solid gray;
    width: 20em;
}
.picker-filter .picker-filter-wrapper {
	/*position: absolute;*/
    left: 0;
    top: 0;
    right: 30px;
    line-height: 1.8em;
    vertical-align: middle;
    display: inline-block;
}
/*.picker-filter input {
	width: 100%;
	border-width: 0;
}*/
.picker-filter .icon-close {
   /* position: absolute;
    right: 0.5em;
    top: 50%;*/
    margin-top: -10px;
    height: 20px;
    width: 20px;
    background-image: url("../img/close-20.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
.picker-filter .number {
	color: gray;
	font-size: 0.8em;
	/*position: absolute;
	left: 0.5em;
	bottom: 0;*/
}


.checkbox {
    border: 1px solid gray;
    background-color: white;
    border-radius: 0.2em;
    display: inline-block;
    height: 0.7em;
    width: 0.7em;
    margin-right: 0.5em;
    vertical-align: middle;
    margin-left: 5em;
}
.selected .checkbox {
    background-color: black;
}
ol.songlist > li,
ol.songlist > li table,
ol.songlist > li table tr,
ol.songlist > li table tr td {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
}

/* replace list numbers so that you can style them - from http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/ */
ol.songlist {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}

ol.songlist > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    border-top:2px solid #666;
    background:#f6f6f6;
}

ol.songlist > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top: 10px;
    left: -2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right: 8px;
    padding: 4px;
    border-top: none;
    color:#ccc;
    background: transparent;
    font-weight: bold;
    text-align:center;
}

