
li.set .button.toggle-buttons {
	display: none;
}
/*@media screen and (min-width: 500px) {*/
    #playlist-edit .playlist,
    #playlist-display .playlist { 
         column-gap: 20px;
         column-rule: 0.1em solid silver;
         column-width: 210px;
         column-fill: auto;
    
         -moz-column-gap: 20px;
         -moz-column-rule: 0.1em solid silver;
         -moz-column-width: 210px;
         -moz-column-fill: auto;
    
         -webkit-column-gap: 20px;
         -webkit-column-rule: 1px solid silver;
         -webkit-column-width: 210px;
         -webkit-column-fill: auto;
	     
	     page-break-after: always;
    }
    #playlist-display,
    #playlist-display .playlist {
        height: 90%;
    }
	.sb-button-bar.flyout, .sb-button-bar.flyout.closed {
	    display: inline-block;
	    background-image: none;
        width: auto;
	}
	.sb-button-bar.flyout *:first-child {
	    margin-left: 0;
	}
	
	.internal-navigation.navigation-bar.sb-button-bar.flyout  {
	   display: none;
	}
    li.set .button.toggle-buttons {
        display: inline-block;
        width: 32px;
        height: 20px;
        padding:0;
        background-color: #daa;
        border: 0;
        color: white;
    }
    li.song .button.toggle-buttons {
        display: block;
        width: 31px;
        height: 5px;
        padding:0;
        background-color: gray;
        border: 0;
        
    }
    
	li.song .button.toggle-buttons span {
	    display: none;
	}
	
	.playlist li.song {
	    padding: 0;
	}
/*}*/

    #playlist-display .playlist.sorted-alphabetically table,
    #playlist-edit .playlist.sorted-alphabetically table,
    #playlist-book .playlist.sorted-alphabetically table {
        table-layout:fixed;
    }

    #playlist-display .playlist.sorted-alphabetically .singer,
    #playlist-edit .playlist.sorted-alphabetically .singer,
    #playlist-book .playlist.sorted-alphabetically .singer {
        width: 1.5em;
        font-size: 0.8em;
        overflow: hidden;
    }

.playlist li.song {
    background-color: white;
    font-size: 0.8em;
    border: 0.1em solid silver;
    margin: -0.1em;
}
.playlist li.song .sb-button-bar {
	display: inline-block; 
}

/*#playlist-display .playlist,
#playlist-edit .playlist {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 50px;
    width: 95%;
}*/
.playlist input {
    font-size: 1em;
    padding: 0.5em;
    display: inline-block;
    box-sizing: border-box;
}
.playlist input.set-title {
	width: auto;
    display: inline-block; /* to override cakephp3 */
}
.playlist input.playlist-title,
.playlist input.set-title,
.playlist input.act {
	border: 0px;
}
span.playlist-title,
span.playlist-act ,
span.set-title {
	display: inline-block;
	white-space: nowrap;
	margin-bottom: 0.3em;
	margin-right: 3em;
}
span.playlist-title label,
span.playlist-act label {
	display: inline-block;
	width: 4.5em;
	text-align: right;
	font-size: 0.7em;
}
#playlist-book span.playlist-title label,
#playlist-book span.playlist-act label,
span.set-title label {
	display: none;
}
input.playlist-title {
    margin-right: 1em;
}
input.act {
    font-size: 1em;
    padding: 0.1em;
    padding-left: 0.5em;
}
input.playlist-title,
input.set-title {
    font-size: 1.3em;
    padding: 0.1em;
    padding-left: 0.5em;
    width: 10em;
}
#playlist-holder .detail {
	display: none;
}

.playlist-title {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.set-title {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #daa;
}

.playlist > ul {
	padding-left: 0;
	margin-left: 0;
	margin-top: 0;
	list-style: none;
}
li.set ul {
	padding: 0;
	padding-left: 1em;
}
#playlist-holder .set {
	border-top: 1px solid silver;
}
#playlist-holder .playlist {
    top: 3em;
}

#playlist-holder .playlist {
	font-size: 0.8em;
}
#playlist-holder .playlist input {
	font-size: 1em;
}
.playlist li {
	margin: 1px;
	padding: 0.2em;
	list-style-type: none;
}

.displayPlaylist .playlist li {
    padding: 0.2em;
}

.playlist li.song.selected {
    background-color: #f0ffc0;
}

.playlist li.song table {
    border-collapse: collapse;
    margin: 0; /* override for CakePHP3 base.css */
}
.playlist li.song table td.key {
	width: 3em;
}

.playlist input.key,
.playlist input.capo,
.playlist input.duration,
.playlist input.singer {
	background-color: transparent;
	border: 0;
	text-align: center;
	margin-right: 3px;
	display: inline-block;
	width: 3em;
    font-weight: bold;
}
.playlist input.duration {
	width: 4em;
}

.playlist input.singer {
    width: 5em;
}
.playlist .title-bar {
    position: relative;
    height: 100%;
    width: 100%;
}

.playlist .title-bar td {
	vertical-align: middle;
	height: 100%;
	cursor: default;
}
.playlist .lyrics-button-container {
	width: 3em;
}
.playlist .title-bar .key {
    margin-left: 1em;
    text-align: center;
}
.playlist.list .title-bar .key {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 20px;
}
.playlist .title-bar .button {
    float: right;
    margin: 0;
}

.playlist .key::-webkit-input-placeholder,
.playlist .capo::-webkit-input-placeholder{
	font-weight: normal;
}
.playlist input.key:-moz-placeholder,
.playlist input.capo:-moz-placeholder {
	font-weight: normal;
}


.available-songs .playlist {
    top: 0;
}
.picker-panel .available-songs .song-filter-list {

}
.picker-panel .available-songs .playlist-selector {
    top: 7em;
}
.picker-panel .available-songs .playlist-selector > ul {
	margin-top: 0;
}
.available-songs ul {
    padding: 0;
}
.available-songs li {
    margin: 0;
    padding: 0;
    border:0;
    background-color: white;
    list-style: none;
    font-size: 1em;
    cursor: pointer;
}
.available-songs .playlist li {
    margin: 0;
    padding: 0;
    border:0;
    background-color: white;
    list-style: none;
    font-size: 1em;
    cursor: pointer;
}
.available-songs .playlist li .checkbox {
	margin-left: 0;
}

.title {
}
.list .title {
	display: inline-block;
	width: 80%;
	/*text-indent: -20px;*/
}
.key:focus, 
.singer:focus, 
.capo:focus {
	border:1px solid silver;
	background-color: white;
}

#playlist-holder,
#song_picker {
    padding: 1em;
    position: absolute;
    top: 4em; 
    bottom: 0;
}
#playlist-holder {
    padding-top: 3em; 
    width: 60%;
}
#song_picker {
	right: 1%;
	left: 64%;
	padding-top: 0;
}

.introduction {
	display: none;
	vertical-align: top;
	position: relative;
	left: 0;
	width: 100%;
}
.introduction .introduction_text {
	color: gray;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 80%;
	font-size: 1em;
}


a#savePlaylist,
a#toggle-introductions,
a#add-new-set {
	position:absolute;
	top: 0.1em;
	z-index:10;
	display: block;
	background-color: transparent;
	color: silver;
	border-radius: 1em;
	font-size: 0.8em;
	text-decoration: none;
	padding:0.3em;
	padding-left:1.3em;
	padding-right:1.3em;
}
a#savePlaylist {
	right:3em;
}
a#toggle-introductions {
	right:9em;
}
a#add-new-set {
	right:25em;
}
a#savePlaylist:hover,
a#toggle-introductions:hover,
a#add-new-set:hover {
	background-color: #008080;
	color: white;
}

.filter_display {
	color: silver;
}





.playlist li.ui-sortable-helper {
    cursor: hand;
    background-color: #e9ec7b;
}



.song-frame,
.song-picker-frame {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	background-color: silver;
	border: 2px solid gray;
	padding: 15px;
	overflow: auto;
}

.playlist-picker {
	
}
.playlist-picker h1 {
	font-size: 1.5em;
	margin: 0;
	display: inline-block;
}
.playlist-picker select {
	font-size: 1em;
}

.navigation-bar {

}
.navigation-bar .button {
	background-color: #9393b3;
	color: white;
}
/*.navigation-panel {
	position: fixed; /*  so that the navigation bar is always at the top of the screen */
	/*top: 0;
	z-index: 10;
	background-color: white;
	width: 97%;
	white-space: nowrap;
	overflow-x: auto;
}*/

ol.songlist {
	padding-left: 0;
}
ol.songlist > li:before {
    content: none;
}
.id {
	margin-left: 1em;
	font-size: 0.8em;
	color: silver;
}

ul.ui-sortable.being_dragged li.set.ui-sortable-helper  ol.songlist {
	display: none;
}
li.set.ui-sortable-helper {
	height: 50px !important;
	width: 200px !important;
}

.playlist li.song {
    width: 90%;
    font-size: 0.8em;
    border: 0px silver solid;
    margin: 0;
    padding: 0;
} 
.playlist li.song table {
    border-collapse: collapse;
}

.playlist .title-bar .title {
    padding-left: 5px;
}
.playlist .title-bar .key.blank {
    background-color: transparent;
}
span.set-title input.set-title {
    color: #aaaaaa;
}

.playlist.sorted-alphabetically {
     column-width: auto;
     -moz-column-width: auto;
     -webkit-column-width: auto;

     column-count: 4;
     -moz-column-count: 4;
     -webkit-column-count: 4;
}