@media print {
	body {
		/*font-size: 10px;*/
	}
	
    #playlist-display .playlist { 
         column-width: 190px;
         -moz-column-width: 190px;
         -webkit-column-width: 190px;
          
         column-count: 5;
         -moz-column-count: 5;
         -webkit-column-count: 5;
    }

    #playlist-display .playlist.sorted-alphabetically {
         column-width: auto;
         -moz-column-width: auto;
         -webkit-column-width: auto;

         column-count: 4;
         -moz-column-count: 4;
         -webkit-column-count: 4;
    }
    
    .button,
    .navigation-panel {
        display: none !important;
    }
    #playlist-display {
        padding: 0 !important;
    }
    body, 
    #container,
    .playlist li.song {
        background-color: white;
    }
    body, 
    #container {
        width: 100%;
    }
    .playlist li.song {
        width: 90%;
        font-size: 1.2em;
        border: 0px silver solid;
        margin: 0;
        padding: 0;
    } 
    .playlist li.song table {
        border-collapse: collapse;
    }
    td.lyrics-button-container {
        display: none;
    }
    .details-bar {
    }   
    .details-bar .id, 
    .details-bar .duration, 
    .details-bar .capo,   
    .details-bar .key {
        display: none;
    }
    .playlist .title-bar .title {
        padding-left: 5px;
    }
    /*.playlist .title-bar .key {
        background-color: #aaaaaa;
        color: white !important;
        border: 0 !important;
    }*/
    .playlist .title-bar .key.blank {
        background-color: transparent;
    }
    span.set-title input.set-title {
        color: #aaaaaa;
    }
    span.set-title label {
        display: none;
    }

    .button {
        display: none;
    }


	.playlist.print li.song {
	    background-color: transparent;
	}
	
	.playlist ul {
	    padding: 0;
	}
	.playlist ul .title.set {
	    margin: 10px;
	    font-weight:  bold;
	    font-size: 14px;
	}
	
	.playlist li.set {
	    list-style-type: none;
	}
	
	.page-header {
	    column-span: all;
	}
	.lyrics-panel>.content { 
	     column-count: 2;
	     column-gap: 2em;
	     column-rule: thin solid black;
	     column-fill: auto;
	     
	     -moz-column-count: 2;
	     -moz-column-gap: 2em;
	     -moz-column-rule: thin solid black;
         -moz-column-fill: auto;
	     
	     -webkit-column-count: 2;
	     -webkit-column-gap: 2em;
	     -webkit-column-rule: 2px solid silver;
         -webkit-column-fill: auto;
	 }
	 input.set-title {
	  padding-left: 0;
	 }

     #playlist-display {
         position: absolute;
         top: 0;
         left: 0;
     }
     #playlist-display .playlist {
         position: relative;
         bottom: 0;
         left: 0;
         top: 0 !important; /* top is set by javascript to allow for navigation bar */
         width: 100%;
     }
	 ol.songlist {
	     padding: 0
	 }
	 ol.songlist > li:before {
	     content: none;
	 }
	 .playlist .title-bar .key {
	     border: 0;
	 }
}