.menu,
#add-new-set,
#toggle-introductions,
#savePlaylist {
	display: none;
}


.print .playlist-title {
	font-size: 20px;
	font-weight: bold;
	display: block;
}
.print .act {
	display: block;
}

.print .introduction {
	display: none;
}
.print .playlist ul {
	padding: 0;
}
.print .playlist ul li.set {
	list-style: none;
	margin: 1em;
}
.print .playlist .set-title {
	font-weight: bold;
	color: #660000;
	border-bottom: 1px solid silver;
}


.print .playlist-page,
.print .lyrics-panel {
    page-break-after: always;
    border: 1px solid gray;
    padding: 10px;
}
.print .playlist-page .playlist {
	font-size:14px;
}
.print .playlist-page .playlist .detail {
	display:none;	
}
.print .playlist-page .title{
	font-weight: normal;
}
.print .playlist-page .song {

}
.print .playlist-page .song .title {
	font-weight: bold;
	font-family: arial;
	text-decoration: none;
	color: black;
}
.print .song .capo,
.print .song .id {
	font-size: 0.8em;
}
.print .song .key,
.print .song .capo {
	background-color: transparent;
	border: 0;
	text-align: center;
	margin-right: 3px;
	display: inline-block;
}
.print .song .key {
	font-weight: bold;
}
.print .song .capo {
	font-style: inherit;
	font-weight: bold;
	text-align: left;
}
.print .song .singer {
	background-color: transparent;
	border: 0;
	color: gray;
	margin-right: 3px;
}
.print .song .id {
	font-style: italic;
}

.print .paginated-page {
	page-break-after: always;
    border:1px solid silver;
    margin: 10px;
    padding:10px;
}

.print .paginated-page td {
	vertical-align: top;
}