@page {
    size: landscape;
    margin: 0em;
    border:1px solid red;
    @top-left-corner { content: " "; border: solid green; }
    @top-right-corner { content: url(foo.png); border: solid green; }
    @bottom-right-corner { content: counter(page); border: solid green; }
    @bottom-left-corner { content: normal; border: solid green; }
}
body, 
#container {
    width: 100%;
    background-color: white;
}
#playlist-book .print-page {
    border: 1px solid gray;
    height: 1050px;
    width: 700px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 4em;
    page-break-after: always;
}
#playlist-book .playlist-title label,
#playlist-book .playlist-act label {
    display: none;
}

#playlist-book .line {
    min-height: 2.5em;
}
@media print {	
	.button,
	.navigation-panel,
	td.lyrics-button-container,
	.details-bar .id, 
	.details-bar .duration, 
	.details-bar .capo,   
	.details-bar .key,
	span.set-title label {
	    display: none;
	    /* display: none !important; */
	}
}