body.printable {
    margin: 20px;
}
.printable h3  {
    margin: 0;
    padding: 0;
}
.printable h4  {
    margin: 0;
    padding: 0;
    font-size: 18px; 
}
 .printable table.attribution {
     display: table;
     margin: 0;
 }
 table.set-header {
 	page-break-after: always;
 }
.printable table.page,
table.page.printable  {
     /*border: 1px solid gray;*/
     table-layout:fixed;
 }
.printable table.page td,
table.page.printable td {
     vertical-align: text-top;
 }
.printable table.page.single-song,
table.page.printable.single-song  {
     page-break-before: never;
 }
.printable table.page.multiple-songs,
table.page.printable.multiple-songs  {
     page-break-before: always;
 }
.printable table.page:last-child {
     page-break-after: avoid;
 }
.printable table.page tr,
.printable table.page td {
    vertical-align: top;
    font-size: 20px;
    border: 0px;
 }
 .printable table.page tbody {
    width: 100%;
 }
 .printable table.page td.song-title {
    overflow: hidden;
 }
.lyrics-display.printable {
    position: relative;
}

.printable .performed-by.written-by {
    line-height: 0.8;
    border: 0px;
}
.printable .performed-by.written-by th,
.printable .performed-by.written-by td  {
	font-size: 10px;
    line-height: 1;
    margin-left: 0;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}
.printable .performed-by.written-by th.written-by {
	width: 50px;
}
.printable .performed-by.written-by td.written-by {
	width: 150px;
}
.printable .performed-by.written-by th.performed-by {
	width: 70px;
}
.printable .performed-by.written-by td.performed-by {
	width: 150px;
}
.printable .performed-by.written-by th.key {
	width: 20px;
}
.printable .performed-by.written-by td.key {
	
}
.printable .performed-by.written-by th.capo {
	width: 20px;
}
.printable .performed-by.written-by td.capo {
	
}

td.title-table {
	overflow:hidden;
}

.printable table.page td.key-capo {
	/*border: 1px solid red;*/
	line-height: normal;
	width:25%;
	vertical-align: middle;
    text-align: right;
}
.printable table.page td.key-capo.capo-shown {
	width:40%;
}

.capo-transpose-border {
	display:inline-block;
	border:1px solid gray;
    padding-left: 1em;
    padding-right: 1em;
}

td.key-capo .key-layout-holder {
	display: inline-block;
}

td.key-capo .capo-transpose-layout-holder {
	display: inline-block;
	text-align: right;
}

td.key-capo .layout-holder {
	/*border: 1px solid #333399;*/
}

td.key-capo .key.layout-holder {
}

td.key-capo .key {
	width: auto;
}

td.key-capo .capo.layout-holder {
	line-height: 0.5;
    font-size: 1em;
	margin: 0;
}

td.key-capo .transpose.layout-holder {
    font-size: 0.7em;
    color: gray;
}

td.key-capo .key .heading {
    display: none;
}

td.key-capo .key .value {
    display: inline-block;
    font-size: 2.2em;
    color: gray;
    font-weight: bold;
}

td.key-capo .capo {
    display: block;
	margin: 0;
}

td.key-capo .capo .value {
    font-weight: bold;
}

td.key-capo .transpose .heading {
    
}

td.key-capo .transpose .value {
    font-weight: bold;
}

td.song-title .key .capo {
	display: inline-block;
}
td.song-title .key .capo.value {
	margin: 0;
}
td.song-title td.key {
	width: auto;
}

td.song-title .key .transpose {
	color: gray;
	font-size: 0.8em;
}
