body.printable {
    margin: 20px;
}
.printable h3  {
    margin: 0;
    padding: 0;
}
.printable h4  {
    margin: 0;
    padding: 0;
    font-size: 18px; 
}
 .printable table.attribution {
     display: table;
     margin: 0;
 }
 table.set-header {
 	page-break-after: always;
 }
.printable table.page,
table.page.printable  {
     border: 1px solid gray;
     table-layout:fixed;
 }
.printable table.page.single-song,
table.page.printable.single-song  {
     page-break-before: never;
 }
.printable table.page.multiple-songs,
table.page.printable.multiple-songs  {
     page-break-before: always;
 }
.printable table.page:last-child {
     page-break-after: avoid;
 }
.printable table.page tr,
.printable table.page td {
    vertical-align: top;
    font-size: 20px;
    border: 0px;
 }
 .printable table.page tbody {
    width: 100%;
 }
 .printable table.page td.song-title {
    overflow: hidden;
 }
.lyrics-display.printable {
    position: relative;
}

.printable .performed-by.written-by {
    line-height: 0.8;
    border: 0px;
}
.printable .performed-by.written-by th,
.printable .performed-by.written-by td  {
	font-size: 10px;
    line-height: 1;
    margin-left: 0;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}
.printable .performed-by.written-by th.written-by {
	width: 50px;
}
.printable .performed-by.written-by td.written-by {
	width: 180px;
}
.printable .performed-by.written-by th.performed-by {
	width: 70px;
}
.printable .performed-by.written-by td.performed-by {
	width: 180px;
}
.printable .performed-by.written-by th.key {
	width: 50px;
}
.printable .performed-by.written-by td.key {
	
}
.printable .performed-by.written-by th.capo {
	width: 50px;
}
.printable .performed-by.written-by td.capo {
	
}