
.input-container,
.input-container .label {
	display: block;
	margin: 0;
}
.input-container .label {
    margin-top: 0.3em;
}

.input-box {
	left: 0;
	right: 0;
	margin: 0;
	border: 1px solid silver;
	padding: 0.3em;
	min-height: 1.25em;
	font-family: Courier New, Courier, Consolas, Monospace;
}

.song-headings,
.content textarea,
.content pre {
    font-size: 0.8em;
    line-height: 1.3em;
}

.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child { /* from cakePHP3 base.css*/
	float: right;
}
a.button.chord-mode {
	float: right;
}