
#all-songs-list {
    position: absolute;
    top: 0;
    bottom: 0.5em;
    left: 0.5em;
    right: 0.5em;
    overflow: auto;
}

#all-songs-list h1 {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}

.song-filter-list ul {
	list-style-type: none;
	padding-left: 0;
}
.number, .filter label {
	font-size: 0.8em;
	color: gray;
}

.full-text-search label {
	display: none;
}




div.dashboard.index  {
	width: 80%;
	float: left;
}

nav#actions-sidebar {
	width: 16%;
	float: left;
	padding-left: 1rem;
	padding-right: 1rem;
}

div.dashboard table tr td {
	font-size: 1.4rem;
} 



nav#actions-sidebar button,
nav#actions-sidebar .button,
tr.song-row span.actions button,
tr.song-row span.actions .button {
	height: auto;
}

nav#actions-sidebar input {
	background-color: white;
	border-color: rgb(170, 170, 170);
}
