.song-page {
	font-family: Arial, Helvetica, sans-serif;
	padding: 1em;
	page-break-after: always;
	display: block;
	background-color: white;
}
div.song-page table {
	width: 100%;
}

.song-page td {
	vertical-align: top;
}
.song-page td.detail {
	text-align: right;
}
div.song-page .multi-column .line {
	font-size: 0.8em;
}

.chord {
	display: inline-block;
	/*position:relative;*/
	padding-bottom: 1.3em;
	width: 1px;
	color: #660000;
	font-size: 0.9em;
	font-family: Helvetica;
	font-weight: bold;
}

.chord.full-width {
	width: auto;
    margin-left: 1em;
    margin-right: 1em;
}
.page-header,
.song-content {
    padding: 0em;
}
.page-header,
.lyrics-content {
    background-color: white;
}
.page-header {
	position: relative;
	border-bottom: 1px solid silver;
	font-size: 1em;
	padding-top: 0.8em;
}
.lyrics-panel .page-header,
.page_0 .page-header {
    padding-top: 0;
}
.lyrics-panel .title,
.song-page .title, 
 .page-header span.song-title {
    font-size: 1.3em;
    padding-top: 0.8em;
	color:#004080;
    margin: 0;
}

.songnumber {
	color: #4080c0;
	float: right;
}
.songnumber .data {
	font-weight:bold;
	font-size:0.8em;
}

.pagenumber {
	display: block;
	font-size: 0.5em;
	position: absolute;
	right: 1em;
	top: 5em;
}

.lyrics-panel .title,
.page_0 .title {
    font-size: 1.5em;
	color:#004080;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 0;
}
.lyrics-panel  .performed-by,
.page_0 .performed-by {
	display: inline-block;
}
.performed-by {
	color: gray;
}

.lyrics-panel .songnumber .data,
.page_0 .songnumber .data {
	font-weight:bold;
	font-size:1.2em;
}
.lyrics-panel .songnumber .label,
.page_0 .songnumber .label {
	font-size:0.8em;
}

.page-header .key {
    width: auto;
    background-color: #f3f3f3;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.lyrics-panel .page-header .key,
.lyrics-panel .page-header .written-by,
.lyrics-panel .page-header .performed-by,
.lyrics-panel .page-header .songnumber {
    display: inline-block;
}

.page-header .key .label,
.page-header .songnumber .label,
.page-header .performed-by .label {
	font-style: normal;
	background-color: transparent;
	color: black;
	padding-left: 0;
	margin: 0;
}
.page-header .key .data {
    margin-bottom: 0;
    padding: 0.1em;
    height: 1.7em;
}
.page-header .performed-by .label,
.page-header .key .target-key .label,
.page-header .key .target-key select,
.page-header .key .capo .label,
.page-header .key .capo select {
	font-size: 0.8em;
}
.page-header .key .target-key .data {
    width: 4em;
}
.page-header .key .capo .data {
    width: 3em;
}
.page-header .key .capo {
	margin-right: 0.7em;
	margin-left: 0.7em;
}
.page-header .key .capo .label {
	margin-right: 0.2em;
}
.page-header .key .capo .data {
}
.page-header .key .singer {
	font-size: 1em;
	font-weight: normal;
	width: auto;
	display: inline;
	color: gray;
}
.page-header .key .singer .label {
}
.page-header .key .singer .data {
}

.line {
	margin-bottom: 1em;
    margin-top: 0.5em;
    font-size: 0.8em;
}
.lyrics-panel {
    font-size: 1em;
}
.lyrics-panel.zoom-1 .lyrics-content {
    font-size: 0.75em;
}
.lyrics-panel.zoom-2 .lyrics-content {
    font-size: 1em;
}
.lyrics-panel.zoom-3 .lyrics-content {
    font-size: 1.3em;
}
.lyrics-panel.zoom-4 .lyrics-content {
    font-size: 1.6em;
}
.lyrics-panel.zoom-5 .lyrics-content {
    font-size: 2em;
}
.lyrics-panel.zoom-6 .lyrics-content {
    font-size: 2.3em;
}
.lyrics-panel.zoom-7 .lyrics-content {
    font-size: 2.6em;
}
.lyrics-panel.zoom-8 .lyrics-content {
    font-size: 2.9em;
}
.lyrics-panel .line .text {
    display: inline;
    vertical-align: bottom;
}
.chord {
	display: inline-block;
	position:relative;
	bottom: 0;
	width: 1px;
	color: #660000;
	font-size: 0.8em;
	font-family: verdana;
}
.lyrics-panel.chords-hidden .chord {
	display: none;
}
.chord .bass_note_modifier {
	color: gray;
	font-weight: normal;
}
.chord .separator {
	margin-left: 0.2em;
}

#lyrics-edit {
	margin-bottom: 220px;
}
#lyrics-edit input {
	width: 90%;
}
.no-base-key {
	font-weight: normal;
	font-style: italic;
	font-size:0.6em;
}