/*@media print {
	.container {
	    padding: 2.5em;
	}
}*/
/*@media screen {
    .line {
        font-size: 0.8em;
    }

    .lyrics-panel {
        font-size: 1em;     
        padding-left: 0.5em;     
        padding-right: 0.5em;
    }
    .lyrics-panel .lyrics-panel {
             .lyrics-panel-width: 20em;
             -moz-column-width: 20em;
             -webkit-column-width: 20em;
              
             column-count: 5;
             -moz-column-count: 5;
             -webkit-column-count: 5;
             
             column-fill: auto;
    }
}

@media print {*/
/*
    .lyrics-panel {
        font-size: 1em;     
        padding-left: 0.5em;     
        padding-right: 0.5em;
        
        width: 100%;
        height: 920px;
    }/*
    .lyrics-panel.columns-2 {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        -moz-column-fill: auto;
        column-fill: auto;
    }*/
/*}*/

/* Lyrics panel - text and chords */
.line {
    font-size: 0.8em; /* hard-set in printable script - html to columns */

    margin-top: 0.5em;
}
.word {
	white-space: nowrap;
	/*border: 1px solid red; margin-left: 10px; margin-right: 10px;*/
}
.chord {
    display: inline-block;
    position:relative;
    padding-bottom: 1.3em;
    margin-top:1em;
    bottom: 0;
    color: #660000;
    font-size: 0.8em;
    font-family: verdana;
}
.chord .chord-symbol-align {
    position: absolute;
    -webkit-transform: translate(-0%, -80%);
    transform: translate(-50%, -80%);
}

.chord.full-width {
	width: auto;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 0;
}

.chord.full-width .chord-symbol-align {
	position: relative;
	bottom: 15px;
}
.chord .bass_note_modifier {
    color: gray;
    font-weight: normal;
}
.chord .separator {
    margin-left: 0.2em;
}
.container>section.container .lyrics-display {
    position: static ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.lyrics-display .lyrics-panel {
    height: calc(100% - 200px) ;
    padding-left: 1em; /* so that a chord over the first word is fully visble. */
    /*width: 100%;*/
    overflow: auto;
    
         column-gap: 20px;
         column-rule: 0.1em solid silver;
         column-width:350px;
         column-fill: auto;
    
         -moz-column-gap: 20px;
         -moz-column-rule: 0.1em solid silver;
         -moz-column-width: 350px;
         -moz-column-fill: auto;
    
         -webkit-column-gap: 20px;
         -webkit-column-rule: 1px solid silver;
         -webkit-column-width: 350px;
         -webkit-column-fill: auto;
   
/*
      -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
          
  -webkit-column-width: auto;
     -moz-column-width: auto;
          column-width: auto;
        *//*
    -moz-column-rule: 0.1em solid silver;*/
}
.lyrics-display.page {
	border: 1px solid black;
	box-shadow: 10px 10px 5px lightblue;
}
.iPad .lyrics-display .lyrics-panel {
    height: 700px;
    margin-bottom: 1em;
    
         -webkit-column-gap: 20px;
         -webkit-column-rule: 1px solid silver;
         -webkit-column-width: 250px;
         -webkit-column-fill: auto;
}
.lyrics-display h3 {
    /*white-space: nowrap;*/
    line-height:0.85;
}
.lyrics-display.zoom-1 .lyrics-panel { font-size: 0.75em; }
.lyrics-display.zoom-2 .lyrics-panel { font-size: 1em;    }
.lyrics-display.zoom-3 .lyrics-panel { font-size: 1.3em;  }
.lyrics-display.zoom-4 .lyrics-panel { font-size: 1.6em;  }
.lyrics-display.zoom-5 .lyrics-panel { font-size: 2em;    }
.lyrics-display.zoom-6 .lyrics-panel { font-size: 2.3em;  }
.lyrics-display.zoom-7 .lyrics-panel { font-size: 2.6em;  }
.lyrics-display.zoom-8 .lyrics-panel { font-size: 2.9em;  }
.lyrics-display .line .text {
    display: inline;
    vertical-align: bottom;
}
.lyrics-panel.chords-hidden .chord {
    display: none;
}


/* Metadata table */

.lyrics-display table.vertical-table td .blue-bold {
    display: inline-block;
    color: #1798A5;
    font-weight: bold;
    vertical-align: center;
    margin-left: 8em;
}
.lyrics-display table.vertical-table th,
.lyrics-display table.vertical-table td .blue-bold {
    width: 8em;
}

table.song-header {
	width: 100%;
	table-layout: fixed;
}


table.song-header td,
.lyrics-display table.vertical-table td,
.lyrics-display table.vertical-table th {
    font-size: 0.8em;
    padding: 0;
    text-align: left;
 	height: 60px;
}

table.song-header td.capo-shown,
table.song-header td.key-capo {
  vertical-align: top;
  font-size: 20px;
  border: 0px;
  width: 300px;
  text-align:right;
}
table.song-header td.key-capo.minor-mode {
    width: 340px;
}
.key-capo .capo.layout-holder {
  line-height: 1;
  font-size: 1em;
}
.capo-transpose-border {
  display: inline-block;
  border: 1px solid gray;
  padding: 0.5em;
  margin-right: 50px;
}


.title-table .performed-by.written-by {
    line-height: 0.8;
    border: 0px;
    display: block;
    white-space: nowrap;
}
.title-table .performed-by.written-by label,
.title-table .performed-by.written-by span  {
	font-size: 0.9em;
    line-height: 1;
    margin-left: 0;
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}
.title-table .performed-by.written-by label {
	font-weight: bold;
    margin-right: 5px;
}


.lyrics-display .performed-by,
.lyrics-display .written-by,
.lyrics-display .base-key,
.lyrics-display .songnumber,
.lyrics-display .meta-tags {
    margin-left: 0.8em;
    font-size: 0.8em;
}

.title-table h3 {
	display: inline-block;
	margin-bottom: 0;
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 0.3em;
	white-space: nowrap;
}
.button.show-menu {
	float: right;
}


div.container .hideable-dashboard label,
div.container .hideable-dashboard .tags {
	display: inline-block;
}

.hideable-dashboard .button {
	vertical-align: middle;
}

.hideable-dashboard .performed-by,
.hideable-dashboard .written-by,
.hideable-dashboard .base-key,
.hideable-dashboard .songnumber,
.hideable-dashboard .meta-tags {
    margin-left: 0.8em;
    font-size: 0.8em;
}

.hideable-dashboard .tag-id .select2-selection {
	height: 3.5em;
}



.hideable-dashboard button,
.hideable-dashboard .button {
	height: auto;
}



.base-key .label,
.base-key label {
	font-style: normal;
	background-color: transparent;
	color: black;
	padding-left: 0;
	margin: 0;
	display: inline-block;
	padding-right: 0.5em;
}

.base-key .key .data {
    margin-bottom: 0.2em;
    padding: 0.1em;
    height: 1.7em;
}
.base-key .label,
.base-key label,
.base-key .data {
    font-size: 1em;
}
.base-key .label,
.base-key label {
    color: #1798a5;
    font-weight: bold;
}
.base-key form.key {
	display: inline-block;
	Width: 20em;
	margin-left: 1em;
}


.key-capo-selectors span.target-key {
	display: inline-block;
}
.base-key .key .target-key .data,
.key-capo-selectors .target-key .data  {
    width: 4em;
}	

.base-key .key  .target-key.no-base-key .data {
    display: inline-block;
    width: 10em;
    font-size: 1em;
}

.base-key .key .capo .data {
    width: 3em;
}

.base-key .key .capo {
	margin-right: 0.7em;
	margin-left: 0.7em;
}

.base-key .key .capo .label,
.base-key .key .capo label {
	margin-right: 0.2em;
}

.hideable-dashboard .key-capo-selectors {
    display: inline-block;
    margin-left: 1em;
    width: 16em;
}


        /* Song View performer select - as horizontal list */
        .songs.view .performers,
        .hideable-dashboard .performers {
            width: auto !important;
            border: 1px solid blue;
            display: inline-block;
            padding: 5px;
        }
        
        
        .hideable-dashboard .performers .known-keys, 
        .hideable-dashboard .performers .add-known-key {
        display: block;
        }
        
        .songs.view .performers .performer,
        .hideable-dashboard .performers .performer {
            font-size: 1em;
            border: 1px solid silver;
            white-space: nowrap;
            padding-top: 0.2em;
            padding-left: 0.4em;
            padding-right: 0.4em;
            padding-bottom: 0.2em;
            cursor: pointer;
        }
        .songs.view .performers .nickname,
        .hideable-dashboard .performers .nickname {
            font-size: 1em;
            width: auto;
        }
        .songs.view .performers .key,
        .hideable-dashboard .performers .key {
            display: inline-block;
            width: auto;
        }
        .songs.view .performers .capo,
        .hideable-dashboard .performers .capo {
            display: inline-block;
        }
        
        .songs.view .performers form ,
        .songs.view .performers fieldset,
        .hideable-dashboard .performers form,
        .hideable-dashboard .performers fieldset {
            display: inline-block;
            vertical-align: middle;
            width: auto;
            margin: 0;
            padding: 0;
        }
        
        .hideable-dashboard .performers form {
            /*width: 40em;*/
        }

        .songs.view .performers fieldset .select2,
        .hideable-dashboard .performers fieldset .select2{
            font-size:  1em; /* to counteract baked_ui.css line 430 (0.7em)*/
        }
        
        .songs.view .performers .input,
        .hideable-dashboard .performers .input  {
            display: inline-block;
        }
        .songs.view .performers input,
        .hideable-dashboard .performers input  {
            display: inline-block;
            margin-bottom: 0;
            height: 2em;
            padding-left: 0;
            padding-right: 0;
        }
        .songs.view .performers input#key,
        .hideable-dashboard .performers input#key  {
            width: 2.5em;
        }
        .lyrics-display .performers input#capo,
        .hideable-dashboard .performers input#capo  {
            text-align: center;
            width: 1em;
        }
        .lyrics-display .performers label[for="performer-id"],
        .hideable-dashboard .performers label[for="performer-id"] {
            display: none;
        }
        
        /* key for each performer */
        .container .key-capo-selectors .data {
            width: 4em;
        }
        .container .performers .data {
            width: 9em;
        }
             
             
        /* Tag editor ajax form */
        .ajax-button-form {
            float: right;
        }
        .container .lyrics-display tr.tags fieldset {
            margin: 0;
            padding: 0;
        }
        .container .lyrics-display tr.tags th {
            font-size: 10px;
            white-space: nowrap;
        }
        .container .lyrics-display tr.tags th form {
            display: inline-block;
        }
        .container .lyrics-display tr.tags th span.button {
            margin: 0;
            font-size: 0.9em;
        }
        .container .lyrics-display tr.tags fieldset .selection li {
            font-size: 0.7em;
        }
        .container .lyrics-display tr.tags fieldset .selection span.select2-selection.select2-selection--multiple {
            min-height: auto;
            height: 2.5em;
            border: 0;
        }
                        
.hideable-visible {
	display: block;
}

.hideable-hidden {
	display: none;
}

.hideable-dashboard {
	border: 1px solid gray;
	background-color: #ffffcc;
	padding: 5px;
}
.hideable-dashboard.ui-selected {
	border: 1px solid red;
	background-color: #ccffff;
}


/* override milligram ------------ */
table.lyrics-display.page tbody {
	white-space: normal;
}
*, ::after, ::before {
	box-sizing: initial;
}
table {
	border-spacing: initial;
}

div.dashboard>table {
	width:100%;
}
table td {
	display: table-cell;
}

body {
	color: auto;;
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: unset;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 0.9;
}


td.key-capo .key-layout-holder {
	display: inline-block;
}

td.key-capo .capo-transpose-layout-holder {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
}

td.key-capo .key {
	width: auto;
}

td.key-capo .transpose.layout-holder {
    font-size: 0.7em;
    color: gray;
}

td.key-capo .key .heading {
    display: none;
}

td.key-capo .key .value {
    display: inline-block;
    font-size: 2.2em;
    color: gray;
    font-weight: bold;
    line-height: 1.8rem;
    vertical-align: middle;
}

td.key-capo .capo {
    display: block;
	margin: 0;
}

td.key-capo .capo .value {
    font-weight: bold;
}

.song-header td.key-capo .key.layout-holder select,
.song-header td.key-capo .capo.layout-holder .value select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    border: none;
	background: transparent;
    text-align: center;
    padding: 0;
}

.song-header td.key-capo .key.layout-holder .value select {
	height: 35px;
	width: 60px;
}
.song-header td.key-capo.minor-mode .key.layout-holder .value select {
	width: 100px;
}

.song-header td.key-capo .key.layout-holder .value select option,
.song-header td.key-capo .capo.layout-holder .value select option {
	font-size: 16px;
}
.song-header td.key-capo .capo.layout-holder .value select {
    width: 24px;
}

td.key-capo .transpose .heading {
    
}

#hideable_dashboard_positioning_container {
	position: absolute;
    right:0;
	z-index:10;
}
#embedded_lyrics_scrollable_container .song-row .tag-form form {
	font-size: 1em;
}

.performance-direction {
	font-size: 0.9em;
	color: #369;
	font-style: italic;
	font-family: serif;
}

.hideable-dashboard .debug-info {
	display: inline-block;
	font-size: 12px;
	margin-top: 10px;
	vertical-align: bottom;
}
