
html, body, div.container, table#viewer{
	height: 100%;
	width: 100%;
}

	
#viewer-sidebar,
#viewer-main {	
	border: 1px solid gray;
	vertical-align: top;
	overflow: scroll;

	position: absolute;
	top:0;
	bottom: 0;
}

.filtered-songlist {
	
}

.filtered-songlist .filter-title {
	/*color: white;*/
	display: inline-block;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #cccccc;
	font-size: 0.8em;
	width: 75%;
}

.filtered-songlist .filter-title span {
	display: inline-block;
	vertical-align: middle;
}
.filtered-songlist .filter-title label {
	display: none;
}

.filtered-songlist .filter-title span.performer.include {
	font-size: 1em;
	margin-right: 3px;
	padding-right: 3px;
	border-right: 1px solid gray;
}
.filtered-songlist .filter-title span.performer.exclude {
	display: none;	
}

.filtered-songlist .filter-title span.tag {
	max-width: 30px;
	overflow: hidden;
	margin-right: 5px;
	white-space: nowrap;
}
.filtered-songlist .filter-title span.tag.include {
	font-size: 1em;
}

.filtered-songlist .filter-title span.tag.exclude {
	font-size: 0.8em;
	text-decoration: line-through;
}

.filtered-songlist .filter-title .query-count {
	font-size: 0.8em;
	color: white;
}

/***************************************************/


.filtered-songlist span.filter-title.expanded {
	/*color: white;*/
	display: block;
	background-color: #fdfdfd;
	border: 1px solid gray;
	border-top: 15px solid #cccccc;
	font-size: 0.8em;
}

.filtered-songlist .filter-title.expanded span {
	display: inline-block;
	vertical-align: middle;
}
.filtered-songlist .filter-title.expanded span.tag::after {
	content: ", ";
}
.filtered-songlist .filter-title.expanded span.performer::after {
	content: ", ";
}

.filtered-songlist .filter-title.expanded label {
	display: inline-block;
	margin-top: 5px;
	margin-right: 5px;
	color: gray;
}

.filtered-songlist .filter-title.expanded span.performer.include {
	display: block;
	border: none;
}
.filtered-songlist .filter-title.expanded span.performer.exclude {
	display: none;	
}

.filtered-songlist .filter-title.expanded span.tag {
	max-width: none;
	overflow: hidden;
	margin-right: 5px;
	white-space: nowrap;
}
.filtered-songlist .filter-title.expanded span.tag.include {
	font-size: 1em;
}

.filtered-songlist .filter-title.expanded span.tag.exclude {
	font-size: 0.8em;
	text-decoration: line-through;
}

.filtered-songlist .filter-title.expanded .query-count {
	display: block;
	font-size: 1em;
	color: black;
}





/*****************************************************/

.filtered-songlist .performer.short-form {
	display: inline-block;
	margin-left: 0.3em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	border: 1px solid silver;
}
.filtered-songlist .performer.short-form span {
	display: inline-block;
	width: auto;
	font-size: 0.8em;
}
.filtered-songlist .performer.short-form .key {
	color: #000099;
	margin-left: 0.2em;
}

.filtered-songlist #songlist {
	list-style-type: none; 
    padding: 15px; 
    padding-top: 0;
    margin: 0; 
}

.filtered-songlist #songlist li {
	margin-top:0.5em;
}
.filtered-songlist #songlist li .song-title {
	display: inline-block;
	max-width: 200px;
	overflow:hidden;
	white-space: nowrap; 
}
	
#viewer-sidebar {	
	width: 300px;
	left: 0;
	padding-top: 75px;
}

#viewer-main {
	left: 300px;
	right: 0;
}
#viewer-main iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	height: 99%;
}

#filter_container {
	display: block;
	position: fixed;
	top:0;
	left: 0;
	border: 1px solid green;
	background-color: white;
	width:300px;
}
#filter_container li {
	line-height: 1.5;
}
#filter_container li a {
	padding:5px;
}
#songlist_filter {
	display: inline-block;
	width: 170px;
	padding: 5px;
	margin-left: 5px;
}
#clear_filter_button,
.button.show-menu {
	
	display: inline-block;
	/*width: 50px;*/
	/*padding: 0;*/
}
#songlist {
	display: block;
}

.hideable-visible {
    display:block;
}

span.container-hideable {
	box-sizing: initial;
}
span.container-hideable select {
	width: 240px;
}
span.container-hideable select#performers {
	width: 210px;
	background-color: transparent;
	border: 1px solid silver;
	padding: 10px;
}

.button  {
	line-height: 1em;
}
.button button {
	float: none;
}

.performer-tags-filter {
	position: relative;
}

.performer-tags-filter .clear-filters {
	position: absolute;
	top: 0;
	right: 0;
}

.performer-tags-filter .performer-id  span span {
	display: inline-block;
	width: 220px;
	position:relative;
	
}
.performer-tags-filter .performer-id  span.select2-container {
	height: 30px;
}
.performer-tags-filter h3,
.performer-tags-filter label {
	margin: 0.2em;
	display: block;
}

.filter-palette .filtered-songlist {
	/*float: left;*/
	width: 400px;
	/*-webkit-column-count: 1;
    -moz-column-count:    1;
    column-count:         1;
    display: inline-block;*/
}


@media (max-width: 2400px) {
	.filter-palette {   
	    -webkit-column-count: 6;
	    -moz-column-count:    6;
	    column-count:         6;
	}
}
@media (max-width: 2000px) {
	.filter-palette {   
	    -webkit-column-count: 5;
	    -moz-column-count:    5;
	    column-count:         5;
	}
}
@media (max-width: 1600px) {
	.filter-palette {   
	    -webkit-column-count: 4;
	    -moz-column-count:    4;
	    column-count:         4;
	}
}
@media (max-width: 1200px) {
	.filter-palette {   
	    -webkit-column-count: 3;
	    -moz-column-count:    3;
	    column-count:         3;
	}
}
@media (max-width: 800px) {
	.filter-palette {   
	    -webkit-column-count: 2;
	    -moz-column-count:    2;
	    column-count:         2;
	}
}@media (max-width: 400px) {
	.filter-palette {   
	    -webkit-column-count: 1;
	    -moz-column-count:    1;
	    column-count:         1;
	}
}


