.chord-editor {
	border: 1px solid gray;
	width: 505px;
	margin: 5px;
	background-color: gray;
	border: 5px solid gray;
}

.chord-editor .container-modifiers .button {
	margin: 1px;
	/*width: 40px;*/
}

.button-note {
	font-size: 10px;
	width: 30px;
	margin: 0;
	height: 16px;
	background-color: white;
    margin-left: 0px;
    position: relative;
    vertical-align: top;
}

.button-note span {
	display: inline-block;
	/*line-height: 80px;*/
    /*vertical-align: bottom;*/
}

.button-note-black {
	background-color: black;
	color: white;
	/*height: 25px;
    margin-left: -16px;
    margin-right: -4px;
    z-index: 2;*/
}

.button-note-black span {
    /*display: inline-block;
    line-height: 40px;
    vertical-align: bottom;*/
}

/*.button-note-b,
.button-note-d,
.button-note-e,
.button-note-g,
.button-note-a {
    margin-left: -8px;
}*/

.container-notes {
	position: relative;
    padding-left: 55px;
    padding-right: 55px;
    width: 230px;
}
.container-notes .selected {
	background-color: #339933;
	color: white;
}

.container-notes .button-note-type {
    position: absolute;
    left: 0;
    line-height: 1em;
    height: 1em;
    margin: 0;
    width: 30px;
}
.container-notes .button-note-type-key {
    top: 0;
}
.container-notes .button-note-type-bass {
    bottom: 0;
}

.container-notes .button-submit {
    position: absolute;
    right: 0;
    line-height: 1em;
    height: 1em;
    margin: 0;
    width: 30px;
}
.container-notes .button-submit-backspace {
    top: 0;
}
.container-notes .button-submit-close {
    bottom: 0;
}

.chord-editor-input {
    width: 338px; 
    height: 30px;
    border: 0px solid silver;
    background-color: #f3ffff;
    text-align: center;
    display: inline-block;
}
.button-submit {
	margin: 0;
	margin-left: 3px;
	vertical-align: top;
	padding-top: 2px;
	padding-bottom: 2px;
}

.button-note-bass {
	 text-transform: lowercase;
}
.button-note-bass:before {
	content: '/';
}
.button-note-bass.button-note-white,
.button-note-bass.button-note-black {
    background-color: #f0f0f0;
    color: gray;
}
