body,
#container {
    font-family: trebuchet, verdana, sans-serif;
    /*font-size: 12px;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	body,
	#container {
	    font-size: 12px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body,
    #container {
        font-size: 42px;
        background-color: #ffeeee;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    body,
    #container {
        font-size: 36px;
        background-color: #eeffee;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    body,
    #container {
        font-size: 12px;
        background-color: #eeeeff;
    }

}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    body,
    #container {
        font-size: 12px;
        background-color: #eeeeee;
    }

}

a {
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}

.label, .data  {
    display: inline-block;
}
.label  {
	margin-right: 0.5em;
    color:gray;
    font-style: italic;
	font-size: 0.9em;
}


.pleasewait {
	position: absolute;
	left: 50%;
	top:50%;
	padding:3em;
	font-weight: bold;
}




::-webkit-input-placeholder{
	font-weight: normal;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 3px;
	margin-right: 3px;
}
input:-moz-placeholder {
	font-weight: normal;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 3px;
	margin-right: 3px;
}

.button {
	display: inline-block;
    white-space: nowrap;
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid gray;
	cursor: pointer;
	background-color: #f3f3f3;
    color: gray;
    font-size: 0.8em;
    text-align: center;
}

.button.disabled {
	background-color: transparent;
	color: white;
	border-color: white;
}
.button a {
	color: gray;
	text-decoration: none;
}