body,
#container {
    font-family: sans-serif;
    /*font-size: 12px;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


a {
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}

.label, .data  {
    display: inline-block;
}
.label  {
	margin-right: 0.5em;
    color:gray;
    font-style: italic;
	font-size: 0.9em;
}


.pleasewait {
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 3em;
	font-weight: bold;
	background-image:url('../img/loader.gif');
	width: 64px;
	height: 64px;
    margin-left: -32px;
    margin-top: -32px;
    background-repeat: no-repeat;
    border: 2px solid red;
}




::-webkit-input-placeholder{
	font-weight: normal;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 3px;
	margin-right: 3px;
}
input:-moz-placeholder {
	font-weight: normal;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 3px;
	margin-right: 3px;
}

.button {
	display: inline-block;
    white-space: nowrap;
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid gray;
	cursor: pointer;
	background-color: #f3f3f3;
    color: gray;
    font-size: 0.8em;
    text-align: center;
    line-height: 2em;
}
.button.pressed {
    background-color: green;
    color: white;
    border-color: white;
}
.button.disabled {
	background-color: transparent;
	color: white;
	border-color: white;
}
.button a {
	color: gray;
	text-decoration: none;
}

.button-bar {
	display: inline;
    line-height: 2em;
    white-space: nowrap;
    vertical-align: middle;
    z-index: 10;
    overflow-x: auto;
    max-width: 90%;
}
.button-bar.flyout {
    display: inline-block;
    background-image: url('../img/flyout-o.svg');
    background-size: 3em;
    background-repeat: no-repeat; 
    background-position: 0.31em 0.5em ;
}
.button-bar.flyout.closed {
    background-image: url('../img/flyout-c.svg');
    background-repeat: no-repeat;
    height: 3.75em;
    width: 3.75em;
    overflow: hidden;
}
.button-bar.flyout .button {
	margin-bottom: 4px;
	margin-top: 12px;
}
.button-bar.flyout :first-child {
	margin-left: 5em;
}


/* from http://www.lotusseedsdesign.com/blog/make-checkbox-or-radio-button-in-mobile-browsers-render-consistently-using-before-pseudo-element */
/*input[type="checkbox"] {width: 1.5em;height: 1.5em}

input[type=checkbox]:after{
content:"";
display:inline-block;
width: 1.5em; height: 1.5em;
background-color:#F6FFCF;
border:1px solid #ccc;
margin-right:10px;
top:12px;
left:0;
position:absolute;}

input[type=checkbox]:checked:after {
content:"✓";
background-color:#fff;
border:1px solid #ccc;
color:#8EB120;font-size: 1.5em;
position:absolute;
top: 1em;left:0;}*/


.picker-filter {
    position: relative;
    width: 100%;
}
#all-songs-list .picker-filter {
    height: 5em;
}
#playlist-display .picker-filter {
    height: 4em;
}
.picker-filter .picker-filter-border {
    position: absolute;
    left: 0;
    bottom: 1.5em;
    right: 0;
    height: 2.5em;
    background-color: white;
    border: 1px solid gray;
}
.picker-filter .picker-filter-wrapper {
	position: absolute;
    left: 0;
    top: 0;
    right: 30px;
    line-height: 1.8em;
    vertical-align: middle;
}
.picker-filter input {
	width: 100%;
	border-width: 0;
}
.picker-filter .icon-close {
    position: absolute;
    right: 0.5em;
    top: 50%;
    margin-top: -10px;
    height: 20px;
    width: 20px;
    background-image: url("../img/close-20.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
.picker-filter .number {
	color: gray;
	font-size: 0.8em;
	position: absolute;
	left: 0.5em;
	bottom: 0;
}


.checkbox {
    border: 1px solid gray;
    background-color: white;
    border-radius: 0.2em;
    display: inline-block;
    height: 0.7em;
    width: 0.7em;
    margin-right: 0.5em;
    vertical-align: middle;
    margin-left: 5em;
}
.selected .checkbox {
    background-color: black;
}