h2 {
	font-size: 12pt;
	margin-bottom:3pt;
	margin-top: 12pt;
	color: #bbbbff;
	font-weight: normal;
}
#playlist-holder-email span.song {
	display: inline-block;
	margin: 0;
}
.song span {
	display: inline-block;
	margin-left: 6pt;
	font-size: 11pt;
}
.song .title {
	font-weight: bold;
}
.song .duration {
	font-size: 10pt;
}
