@media print {
	.button,
	.navigation-panel {
	    display: none !important;
	}
	#playlist-display {
	    padding: 0 !important;
	}
	body, 
	#container,
	.playlist li.song {
	    background-color: white;
	    width: 400px;
	}
	
	
}
@media screen {
	

	.playlist li.song {
	    background-color: #f0f0c0;
	}
}

#playlist-display {
	/*position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;*/
	
	
}
#playlist-display .playlist {

}
input {
    font-size: 1em;
    padding: 0.5em;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
input.set-title {
	width: auto;
}
input[type=checkbox] {

}
input.playlist-title,
input.set-title,
input.act {
	border: 0px;
}
input.playlist-title,
input.act {
   
}
span.playlist-title,
span.playlist-act ,
span.set-title {
	display: inline-block;
	white-space: nowrap;
	margin-top: 0.3em;
	margin-right: 3em;
}
span.playlist-title label,
span.playlist-act label {
	display: inline-block;
	width: 4.5em;
	text-align: right;
}
input.playlist-title {
    margin-right: 1em;
}
input.act {
    font-size: 1em;
    padding: 0.5em;
}
input.playlist-title,
input.set-title {
    font-size: 1.3em;
    padding: 0.5em;
}
#playlist-holder .detail {
	display: none;
}

.playlist-title {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.set-title {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #daa;
}


li.set ul {
	padding: 0;
	padding-left: 1em;
}
#playlist-holder .set {
	border-top: 1px solid silver;
}
#playlist-holder .playlist,
.available-songs .playlist {
/*    position: absolute;
    bottom: 1em;
    right: 1em;
    left: 1em;
    overflow: auto;*/
}
#playlist-holder .playlist {
    top: 3em;
}

#playlist-holder .playlist {
	font-size: 0.8em;
}
#playlist-holder .playlist input {
	font-size: 1em;
}
.playlist li {
	margin: 1px;
	padding: 0.2em;
}
.displayPlaylist .playlist li {
	padding: 0.2em;
	list-style-type: none;
}
.playlist li.song.selected {
    background-color: #f0ffc0;
}

.playlist .key,
.playlist .capo {
	background-color: transparent;
	border: 0;
	text-align: center;
	margin-right: 3px;
}

.playlist .title-bar {
    position: relative;
    font-size: 1em;
    height: 100%;
    width: 100%;
}

.playlist .title-bar td {
	vertical-align: middle;
	height: 100%;
}
.playlist .lyrics-button-container {
	width: 3em;
}
.playlist .title-bar .key {
	margin-left: 1em;
	font-size: 0.8em;
	color: gray;
	border-left: 1px solid gray;
	width: 2em;
	text-align: center;
}
.playlist .title-bar .button {
    float: right;
}

.playlist .key::-webkit-input-placeholder,
.playlist .capo::-webkit-input-placeholder{
	font-weight: normal;
}
.playlist input.key:-moz-placeholder,
.playlist input.capo:-moz-placeholder {
	font-weight: normal;
}


.available-songs .playlist {
    top: 0;
}
.picker-panel .available-songs .song-filter-list {

}
.picker-panel .available-songs .playlist-selector {
    top: 7em;
}
.picker-panel .available-songs .playlist-selector > ul {
	margin-top: 0;
}
.available-songs ul {
    padding: 0;
}
.available-songs .playlist li {
    margin: 0;
    padding: 0;
    border:0;
    background-color: white;
    list-style: none;
    font-size: 1em;
    cursor: pointer;
}


.duration {
	width: 2em;
}
.key {
	width: 2em;
	font-weight: bold;
}
.capo {
	width: 2em;
	font-weight: bold;
	text-align: left;
}
.singer {
 	width: 5em;
	background-color: transparent;
	border: 0;
	color: gray;
	margin-right: 3px;
}
.title {
}
.key:focus, 
.singer:focus, 
.capo:focus {
	border:1px solid silver;
	background-color: white;
}

#playlist-holder,
#song_picker {
    padding: 1em;
    position: absolute;
    top: 4em; 
    bottom: 0;
}
#playlist-holder {
    padding-top: 3em; 
    width: 60%;
}
#song_picker {
	right: 1%;
	left: 64%;
	padding-top: 0;
}

.introduction {
	display: none;
	vertical-align: top;
	position: relative;
	left: 0;
	width: 100%;
}
.introduction .introduction_text {
	color: gray;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 80%;
	font-size: 1em;
}


a#savePlaylist,
a#toggle-introductions,
a#add-new-set {
	position:absolute;
	top: 0.1em;
	z-index:10;
	display: block;
	background-color: transparent;
	color: silver;
	border-radius: 1em;
	font-size: 0.8em;
	text-decoration: none;
	padding:0.3em;
	padding-left:1.3em;
	padding-right:1.3em;
}
a#savePlaylist {
	right:3em;
}
a#toggle-introductions {
	right:9em;
}
a#add-new-set {
	right:25em;
}
a#savePlaylist:hover,
a#toggle-introductions:hover,
a#add-new-set:hover {
	background-color: #008080;
	color: white;
}

.filter_display {
	color: silver;
}





.playlist li.ui-sortable-helper {
    cursor: hand;
    background-color: #e9ec7b;
}



.song-frame,
.song-picker-frame {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	background-color: silver;
	border: 2px solid gray;
	padding: 15px;
	overflow: auto;
}

.playlist-picker {
	
}
.playlist-picker h1 {
	font-size: 1.5em;
	margin: 0;
	display: inline-block;
}
.playlist-picker select {
	font-size: 1em;
}

.navigation-bar {
	height: 3.75em;
}
.navigation-bar .button {
	background-color: #9393b3;
	color: white;
}
.navigation-panel {
	position: fixed; /*  so that the navigation bar is always at the top of the screen */
	top: 0; 
	z-index: 10;
	background-color: white;
	width: 97%;
}

ol.songlist {
	padding-left: 2em;
}
.id {
	margin-left: 1em;
	font-size: 0.8em;
	color: silver;
}