
.song-index {
	page-break-after: always;
}
.song-index .column {
	vertical-align: top;
	padding: 1em;
}
.song-index h2 {
	font-size: 12pt;
	color:#bb5555;
	margin-bottom: 0.1em #bb5555;
	border-top: 1px solid 
}
.song-index h3 {
	font-size: 10pt;
	color:#555599;
	margin-bottom: 0.3em;
	font-weight: normal;
}
.song-index .song {
	white-space: nowrap;
	font-size: 8pt;
	margin-left: 10px;
}
.song-index .song:hover {
	background-color: #008080;
	color: white;
}

.song-index .song .id {
	display: inline-block;
	width: 3em;
	text-align: right;
	padding-right: 0.5em;
	border-right: 1px solid silver;
	color: gray;
}

.song-index .song .title {
	display: inline-block;
	width: 20em;
	padding-left: 0.5em;
}
