.song-page {
	font-family: Arial, Helvetica, sans-serif;
	padding: 1em;
	page-break-after: always;
	display: block;
	background-color: white;
}
div.song-page table {
	width: 100%;
}

.song-page td {
	vertical-align: top;
}
.song-page td.detail {
	text-align: right;
}
div.song-page .multi-column .line {
	font-size: 0.8em;
}

.chord {
	display: inline-block;
	/*position:relative;*/
	padding-bottom: 1.3em;
	width: 1px;
	color: #660000;
	font-size: 0.9em;
	font-family: Helvetica;
	font-weight: bold;
}

.chord.full-width {
	width: auto;
	margin-right: 1em;
}
.page-header,
.content {
	background-color: white;
	padding: 1em;
}
.page-header {
	position: relative;
	border-bottom: 1px solid silver;
	font-size: 1em;
	padding-top: 0.8em;
}
.lyrics-panel .page-header,
.page_0 .page-header {
    padding-top: 0;
}
.lyrics-panel .title,
.song-page .title, 
 .page-header span.song-title {
    font-size: 1.3em;
    padding-top: 0.8em;
	color:#004080;
    margin: 0;
}
.performed_by,
.written_by {
	/* display:none; this hides inputs in the song lyrics edit page */
}
.performed_by .label,
.written_by .label {
}
.songnumber {
	color: #4080c0;
	position: absolute;
	right: 1em;
	top: 2em;
}
.songnumber .data {
	font-weight:bold;
	font-size:0.8em;
}
.songnumber .label {
	font-size:0.6em;
}

.pagenumber {
	display: block;
	font-size: 0.5em;
	position: absolute;
	right: 1em;
	top: 5em;
}

.lyrics-panel .title,
.page_0 .title {
    font-size: 1.5em;
	color:#004080;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 0;
}
.lyrics-panel  .performed_by,
.page_0 .performed_by {
	display: block;
	font-size: 0.6em;
    color: gray;
}
.lyrics-panel  .written_by,
.page_0 .written_by {
	display: block;
	font-size:0.8em;
    color: gray;
}
.lyrics-panel .performed_by .label,
.page_0 .performed_by .label,
.lyrics-panel .written_by .label,
.page_0 .written_by .label {
}
.lyrics-panel .songnumber .data,
.page_0 .songnumber .data {
	font-weight:bold;
	font-size:1.2em;
}
.lyrics-panel .songnumber .label,
.page_0 .songnumber .label {
	font-size:0.8em;
}

.page-header .key {
    font-size: 0.8em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    background-color: #f3f3f3;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
    display: none;
}

.lyrics-panel .page-header .key,
.page_0 .page-header .key {
    display: inline-block;
}

.page-header .key .label {
	font-style:normal;
}
.page-header .key .target_key {
	display: inline;
	color: gray;
}
.page-header .key .target_key .label{
}
.page-header .key .target_key .data {
}
.page-header .key .capo {
	font-size: 1.5em;
	display: inline;
	margin-right: 0.7em;
	margin-left: 0.7em;
}
.page-header .key .capo .label {
	margin-right: 0.2em;
	color: black;
}
.page-header .key .capo .data {
}
.page-header .key .singer {
	font-size: 1em;
	font-weight: normal;
	width: auto;
	display: inline;
	color: gray;
}
.page-header .key .singer .label {
}
.page-header .key .singer .data {
}

.line {
	margin-bottom: 1em;
    margin-top: 0.5em;
    font-size: 0.8em;
}
.lyrics-panel {
	font-size: 1em;
}
.lyrics-panel .line .text {
    display: inline;
    vertical-align: bottom;
} 
.chord {
	display: inline-block;
	position:relative;
	bottom: 0;
	width: 1px;
	color: #660000;
	font-size: 0.8em;
	font-family: verdana;
}
.chord .bass_note_modifier {
	color: gray;
	font-weight: normal;
}
.chord .separator {
	margin-left: 0.2em;
}