<div id="all-song-list">
<ol class="songlist">
  	{{for songs}}
	
    <li class="song{{if filter_display == true}} filter_display{{/if}}" id="{{:id}}">
      <input type="text" class="singer" placeholder="singer" value="{{:singer}}" />
      <input type="text" class="key" placeholder="key" value="{{:key}}" />
      <input type="text" class="capo" placeholder="capo" value="{{:capo}}" />
      <span class="id">{{:id}}</span>
      <input type="text" class="duration" placeholder="mm:ss" value="{{:duration}}" />
      <span class="title">{{:title}}</span>
    </li>
	
	{{/for}}
</ol>
</div>