<input type="text" class="playlist-title" value="{{:title}}" />
<input type="text" class="act" value="{{:act}}" />
<span class="introduction songlist" style="display: none">
	<textarea class="introduction_text" placeholder="Introduction text">{{:introduction.text}}</textarea>
	<input type="text" class="introduction_duration" placeholder="Introduction duration" value="{{:introduction.duration}}" />
</span>
<ul class="playlist">
{{for sets}}
<li class="set">
  <input type="text" class="set-title" value="{{:label}}" />
  <span class="duration"></span>
  <span class="introduction set" style="display: none">
	<textarea class="introduction_text" placeholder="Introduction text">{{:introduction.text}}</textarea>
	<input type="text" class="introduction_duration" placeholder="Introduction duration" value="{{:introduction.duration}}" />
  </span>
  <ol class="songlist">
  	{{for songs}}
    <li class="song" id="{{:id}}">
      <input type="text" class="singer" placeholder="singer" value="{{:singer}}" />
      <input type="text" class="key" placeholder="key" value="{{:key}}" />
      <input type="text" class="capo" placeholder="capo" value="{{:capo}}" />
      <span class="id">{{:id}}</span>
      <input type="text" class="duration" placeholder="mm:ss" value="{{:duration}}" />
      <span class="title">{{:title}}</span>
      <span class="introduction" style="display: none">
		<textarea class="introduction_text" placeholder="Introduction text">{{:introduction.text}}</textarea>
		<input type="text" class="introduction_duration" placeholder="Introduction duration" value="{{:introduction.duration}}" />
      </span>
    </li>
	{{/for}}
    <li class="dummy">&nbsp;</li>
  </ol>
</li>
{{/for}}
</ul>
