<div class="playlist">
	<span class="playlist_heading"></span>
		<span class="playlist-title">{{:title}}</span>
		<span class="act">{{:act}}</span>
		<span class="introduction songlist">
			<span class="introduction_text">{{:introduction.text}}</span>
			<span class="introduction_duration">{{:introduction.duration}}</span>
		</span>
	</span>
	{{for sets}}
	<span class="set">
	  <span class="set-title">{{:label}}</span>
	  <span class="duration"></span>
	  <span class="introduction set" style="display: none">
		<span class="introduction_text">{{:introduction.text}}</span>
		<span class="introduction_duration">value="{{:introduction.duration}}" </span>
	  </span>
	  <ol class="songlist">
	  	{{for songs}}
	    <li class="song" id="{{:id}}">
	      <span class="title">{{:title}}</span>
	      <span class="id">({{:id}})</span>
	      <span class="singer">{{:singer}}</span>
	      <span class="key">{{:key}}</span>
	      <span class="capo">{{:capo}}</span>
	    </li>
		{{/for}}
	  </ol>
	</span>
	{{/for}}
</div>
